:host {
    display: block;
    padding: 16px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
    position: relative;
}

.table-container {
    position: relative;
}

.iterating span::after {
    content: ', '
}

.iterating span:last-child:after {
    content: ''
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}