:host {
    display: block;
    padding: 16px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
    position: relative;
}

td, th {
    width: auto;
}

tr th:first-child, tr td:first-child {
    min-width: 100px;
}

tr th:last-child, tr td:last-child {
    width: 80px;
    padding-right: 12px;
}

.table-container {
    position: relative;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}