<mat-menu #committeeMenu="matMenu">
  <ng-template matMenuContent let-row="row">
    @if (user.type == 'admin') {
      <button mat-menu-item (click)="editCommittee(row.committee)">
        <mat-icon>mode</mat-icon>
        <span>Editați comisia</span>
      </button>
      <button mat-menu-item (click)="deleteCommittee(row.committee)">
        <mat-icon>delete</mat-icon>
        <span>Ștergeți comisia</span>
      </button>
      @if (!row.committee.finalGrades) {
        <button mat-menu-item (click)="markFinalGrades(row.committee.id, true)">
          <mat-icon>lock</mat-icon>
          <span>Marcați notele drept finale</span>
        </button>
      }
      @if (row.committee.finalGrades) {
        <button mat-menu-item (click)="markFinalGrades(row.committee.id, false)">
          <mat-icon>lock_open</mat-icon>
          <span>Demarcați notele drept finale</span>
        </button>
      }
    }
    <button mat-menu-item [matMenuTriggerFor]="committeeCatalogGenerationMenu" [matMenuTriggerData]="{ committee: row.committee }">
      <mat-icon>description</mat-icon>
      <span>Generați documente</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #committeeCatalogGenerationMenu="matMenu">
  <ng-template matMenuContent let-committee="committee">
    <button mat-menu-item (click)="getCommitteeDocument(committee, 'catalog_pdf')">
      <mat-icon>description</mat-icon>
      <span>Generați catalogul în format PDF</span>
    </button>
    <button mat-menu-item (click)="getCommitteeDocument(committee, 'catalog_docx')">
      <mat-icon>description</mat-icon>
      <span>Generați catalogul în format DOCX</span>
    </button>
    <button mat-menu-item (click)="getCommitteeDocument(committee, 'final_catalog_pdf')">
      <mat-icon>description</mat-icon>
      <span>Generați catalogul final</span>
    </button>
    <button mat-menu-item (click)="getCommitteeDocument(committee, 'student_assignation_pdf')">
      <mat-icon>description</mat-icon>
      <span>Generați programarea studenților în format PDF</span>
    </button>
    <button mat-menu-item (click)="getCommitteeDocument(committee, 'student_assignation_xlsx')">
      <mat-icon>description</mat-icon>
      <span>Generați programarea studenților în format XLSX</span>
    </button>
  </ng-template>
</mat-menu>


<mat-menu #documentGeneration="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item title="Componența comisiilor și planificarea pe săli și zile" (click)="openReportFile('committee_compositions_pdf')">
      <mat-icon>description</mat-icon>
      <span>Componența comisiilor și planificarea pe săli și zile</span>
    </button>
    <button mat-menu-item title="Repartizarea studenților pe comisii"
      (click)="openReportFile('student_assignation_pdf')">
      <mat-icon>description</mat-icon>
      <span>[PDF] Repartizarea studenților pe comisii</span>
    </button>
    <button mat-menu-item title="Repartizarea studenților pe comisii"
      (click)="openReportFile('student_assignation_xlsx')">
      <mat-icon>description</mat-icon>
      <span>[Excel] Repartizarea studenților pe comisii</span>
    </button>
  </ng-template>
</mat-menu>

<div class="table-container">
  <mat-toolbar>
    @if (user.type == 'admin') {
      <button fxHide.lt-sm matButton="filled" (click)="addCommittee()">Adăugați comisie</button>
      <button fxHide.lt-sm matButton="tonal" (click)="autoAssign()">Atribuire automată</button>
      <button fxHide fxShow.lt-sm mat-mini-fab color="primary" (click)="addCommittee()">
          <mat-icon>add</mat-icon>
        </button>
        <button fxHide fxShow.lt-sm mat-mini-fab color="primary" (click)="autoAssign()">
          <mat-icon>assignment</mat-icon>
        </button>
    }
    <button mat-button [matMenuTriggerFor]="documentGeneration">
      <span>Generați documente</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button (click)="refreshResults()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar>
  @if (isLoadingResults) {
    <div class="loading-shade">
      <mat-spinner></mat-spinner>
    </div>
  }
  <div class="discrete-scroll">
    <table mat-table [dataSource]="data">
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          @if (!row.committee.finalGrades) {
            <mat-icon class="status-icon warn"
              matTooltip="Comisia nu a terminat încă activitatea">
              pending
            </mat-icon>
          }
          @if (row.committee.finalGrades) {
            <mat-icon class="status-icon done" matTooltip="Note finale">
              done
            </mat-icon>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.committee.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nume </th>
        <td mat-cell *matCellDef="let row" class="wrap"> {{row.committee.name}} </td>
      </ng-container>

      <ng-container matColumnDef="locationAndTime">
        <th mat-header-cell *matHeaderCellDef> Locația și data </th>
        <td mat-cell *matCellDef="let row">
          @for(day of row.committee.activityDays; track day.id) {
            <div>{{ day.location }} | {{ day.startTime | datetime }} </div>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="domains">
        <th mat-header-cell *matHeaderCellDef> Domenii </th>
        <td mat-cell *matCellDef="let row" class="wrap" style="min-width: 100px;">
          <div class="iterating">
            <wbr/>
            @for (domain of row.committee.domains; track domain) {
              <span>{{domain.name}}</span>
            }
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="president">
        <th mat-header-cell *matHeaderCellDef> Președinte </th>
        <td mat-cell *matCellDef="let row"> {{row.president?.lastName}} {{row.president?.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="secretary">
        <th mat-header-cell *matHeaderCellDef> Secretar </th>
        <td mat-cell *matCellDef="let row"> {{row.secretary?.lastName}} {{row.secretary?.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="members">
        <th mat-header-cell *matHeaderCellDef> Membri </th>
        <td mat-cell *matCellDef="let row" class="wrap" style="min-width: 160px;">
          <div class="iterating">
            <wbr/>
            @for (member of row.members; track member) {
              <span>{{member.lastName}} {{member.firstName}}</span>
            }
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="paperNumber">
        <th mat-header-cell *matHeaderCellDef>Număr lucrări</th>
        <td mat-cell *matCellDef="let row">{{row.paperNumber}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acțiuni</th>
        <td mat-cell *matCellDef="let row">
          @if (user.type == 'admin') {
            <button mat-mini-fab color="primary" matTooltip="Atribuire lucrări"
              [routerLink]="[row.committee.id, 'assign-papers']">
              <mat-icon>description</mat-icon>
            </button>
          }
          <button mat-icon-button matTooltip="Mai multe" [matMenuTriggerFor]="committeeMenu"
            [matMenuTriggerData]="{row: row}">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row @rowAnimation *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row @rowAnimation *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-mdc-row mdc-data-table__row" *matNoDataRow>
        <td class="mat-mdc-cell mdc-data-table__cell" colspan="1000" [hidden]="isLoadingResults">
          Nu există comisii.
        </td>
      </tr>
    </table>
  </div>
</div>
