<div class="loading-shade" *ngIf="isLoadingQuery">
    <mat-progress-bar mode="query"></mat-progress-bar>
</div>

<h2 mat-dialog-title>Aplicați la această ofertă</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="applicationForm">
        <mat-form-field appearance="outline">
            <mat-label>Titlu lucrare *</mat-label>
            <input matInput type="text" formControlName="title">
            <mat-error>
                Titlul trebuie să fie de lungime între 3 și 256 caractere.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Descriere lucrare *</mat-label>
            <textarea matInput type="text" formControlName="description"></textarea>
            <mat-error>
                Descrierea trebuie să fie de lungime 64 și 1024 caractere.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Tehnologii folosite</mat-label>
            <input matInput type="text" formControlName="usedTechnologies">
            <mat-error>
                Acest câmp poate avea maximum 256 de caractere.
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Anulați</button>
    <button mat-button (click)="applyOffer()" [disabled]="applicationForm.invalid">
        Aplicați
    </button>
</mat-dialog-actions>