<div class="loading-shade" *ngIf="isLoadingQuery">
    <mat-progress-bar mode="query"></mat-progress-bar>
</div>

<h2 mat-dialog-title>
    {{ 'STUDENT.OFFER_APPLICATION_SENDER.HEADER' | translate }}
</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="applicationForm">
        <mat-form-field appearance="outline">
            <mat-label>
                {{ 'STUDENT.OFFER_APPLICATION_SENDER.TITLE' | translate }} *
            </mat-label>
            <input matInput type="text" formControlName="title">
            <mat-error>
                {{ 'STUDENT.OFFER_APPLICATION_SENDER.TITLE_ERROR' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>
                {{ 'STUDENT.OFFER_APPLICATION_SENDER.DESCRIPTION' | translate }} *
            </mat-label>
            <textarea matInput type="text" formControlName="description"></textarea>
            <mat-error>
                {{ 'STUDENT.OFFER_APPLICATION_SENDER.DESCRIPTION_ERROR' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>
                {{ 'STUDENT.OFFER_APPLICATION_SENDER.USED_TECHNOLOGIES' | translate }}
            </mat-label>
            <input matInput type="text" formControlName="usedTechnologies">
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
        {{ 'DIALOG_BUTTONS.CANCEL' | translate }}
    </button>
    <button mat-button (click)="applyOffer()" [disabled]="applicationForm.invalid">
        {{ 'STUDENT.OFFER_APPLICATION_SENDER.APPLY' | translate }}
    </button>
</mat-dialog-actions>