:host {
  padding: 16px;
  display: block;
}

table {
  width: 100%;
}

.detail-row {
  height: 0px;
}

.status-icon {
  cursor: default;
  user-select: none;

  &.done {
    color: var(--success);
  }

  &.warn {
    color: var(--warn);
  }
}

.paper-detail {
  overflow: hidden;

  .paper-header {
    display: flex;
    margin-top: 12px;

    .paper-description {
      flex: 1;
      color: var(--mat-sys-on-surface-variant);
    }
  }

  .document-list {
    padding-top: 8px;
  }
}

.paper-row td {
  border-bottom-width: 0;
}

.paper-row td:first-child {
  width: 24px;
  padding: 0 12px;
}

tr.paper-row:not(.expanded-row):hover {
  background: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
}

tr.paper-row:not(.expanded-row):active {
  background: var(--mat-sys-surface-variant);
}

.grade-badge {
  border: 1px solid var(--mat-sys-outline-variant);
  display: inline-flex;
  align-items: center;
  padding: 6px 8px;
  border-radius: 12px;

  mat-icon {
    color: var(--mat-sys-on-surface-variant);
  }

  .text {
    margin-left: 8px;
    line-height: 22px;
  }
}
