<mat-card class="offer-card" *ngFor="let application of applications">
    <div class="offer-card-header">
        <div class="header-content">
            <span>
                {{ application.offer.domain.name }},
                {{ DOMAIN_TYPES[application.offer.domain.type] }}
            </span>
            <div class="offer-topics">
                <span class="badge" *ngFor="let topic of application.offer.topics">{{topic.name}}</span>
            </div>
        </div>
        <div>
            <span class="badge">
                {{application.offer.takenPlaces }} / {{application.offer.limit}}
                Locuri ocupate
            </span>
        </div>
    </div>
    <mat-card-content>
        <mat-list>
            <app-user-snippet [user]="application.student">Student</app-user-snippet>
            <mat-list-item *ngIf="mode == 'student'">
                <div mat-line>Profesor</div>
                <div mat-line>{{application.offer.teacher.firstName}} {{application.offer.teacher.lastName}}</div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>Titlu</div>
                <div mat-line>{{application.title}}</div>
            </mat-list-item>
            <mat-list-item class="no-height">
                <div mat-line>Descriere</div>
                <div mat-line class="nowrap">{{application.description}}</div>
            </mat-list-item>
            <mat-list-item *ngIf="application.usedTechnologies" class="no-height">
                <div mat-line>Tehnologii folosite</div>
                <div mat-line class="nowrap">{{application.usedTechnologies}}</div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions align="end">
        <div *ngIf="application.accepted == null">
            <div *ngIf="mode == 'teacher'">
                <button mat-button (click)="sendEvent('decline', application.id)">
                    Respingeți
                </button>
                <button mat-flat-button color="primary" (click)="sendEvent('accept', application.id)">
                    Acceptați
                </button>
            </div>
            <div *ngIf="mode == 'student'">
                <button mat-button (click)="sendEvent('cancel', application.id)">
                    Retrageți cererea
                </button>
            </div>
        </div>
        <div *ngIf="application.accepted != null">
            <button mat-button disabled *ngIf="application.accepted">
                Acceptată
            </button>
            <button mat-button disabled *ngIf="application.accepted == false">
                Respinsă
            </button>
        </div>
    </mat-card-actions>
</mat-card>

<div class="no-results-container" *ngIf="applications?.length == 0">
    <mat-icon class="hero-icon">assignment</mat-icon>
    <h2>Nu există cereri.</h2>
</div>