:host {
  display: block;
  padding: 16px;
}

.session-edit-card {
  position: relative;
  margin-bottom: 24px;
  overflow: hidden;

  mat-card-content {
    margin-top: 16px;
  }

  app-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.form-actions {
  margin-top: 24px;
}
