<mat-menu #studentMenu="matMenu">
  <ng-template matMenuContent let-student="student">
    <button mat-menu-item (click)="editStudent(student)">
      <mat-icon>mode</mat-icon>
      <span>Editați studentul</span>
    </button>
    <button mat-menu-item (click)="deleteStudent(student)">
      <mat-icon>delete</mat-icon>
      <span>Ștergeți studentul</span>
    </button>
    <button mat-menu-item (click)="resendActivationCode(student)">
      <mat-icon>token</mat-icon>
      <span>Retrimiteți e-mail activare</span>
    </button>
    @if (user.type == 'admin') {
      <button mat-menu-item (click)="impersonateStudent(student)">
        <mat-icon>people</mat-icon>
        <span>Impersonare</span>
      </button>
    }
  </ng-template>
</mat-menu>

<div class="table-container full-height">
  <mat-toolbar color="white">
    <button fxHide.lt-sm matButton="filled" (click)="openNewStudentDialog()">Adăugați student</button>
    <button fxHide fxShow.lt-sm mat-mini-fab (click)="openNewStudentDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <button matButton="tonal" (click)="bulkAddStudents()">Adăugați din .CSV</button>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button (click)="refreshResults()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleFilters()" [class.active]="showFilters">
      <mat-icon>filter_list</mat-icon>
    </button>
  </mat-toolbar>
  @if (showFilters) {
    <div class="table-filters">
      <div class="filter-header">
        <span class="text">Filtrați după</span>
        <button mat-button (click)="resetFilters()">Resetați</button>
      </div>
      <form fxLayout="row grid" fxLayoutGap="10px grid">
        <ng-container [formGroup]="studentFilter">
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Domeniu</mat-label>
            <mat-select formControlName="domainId" (valueChange)="handleFilterDomainChange($event)" name="domainId">
              <mat-option [value]="null">-- Oricare --</mat-option>
              @for (domain of domains; track domain) {
                <mat-option [value]="domain.id">
                  {{ domain.name }}, {{ DOMAIN_TYPES[domain.type] | titlecase }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Program de studiu</mat-label>
            <mat-select formControlName="specializationId" name="specializationId">
              <mat-option [value]="null">-- Oricare --</mat-option>
              @for (specialization of domainSpecializations; track specialization) {
                <mat-option [value]="specialization.id">
                  {{ specialization.name }} ({{ specialization.studyForm.toLocaleUpperCase() }})
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </ng-container>
        <ng-container [formGroup]="studentFilterDebounced">
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Grupă</mat-label>
            <input matInput type="number" formControlName="group" name="group" />
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Promoție</mat-label>
            <input matInput type="number" formControlName="promotion" name="promotion" />
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Nume</mat-label>
            <input matInput type="text" formControlName="lastName" name="student_last_name" autocomplete="off" />
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Prenume</mat-label>
            <input matInput type="text" formControlName="firstName" name="student_first_name" autocomplete="off" />
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>E-mail</mat-label>
            <input matInput type="text" formControlName="email" name="student_email" />
          </mat-form-field>
        </ng-container>
      </form>
    </div>
  }
  <div class="discrete-scroll">
    <table
      mat-table
      [dataSource]="resolverData.rows"
      matSort
      matSortDisableClear
      [matSortActive]="resolverData.params.sortBy || 'id'"
      [matSortDirection]="resolverData.params.sortDirection || 'asc'"
    >
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          @if (!row.validated) {
            <mat-icon class="status-icon warn" matTooltip="Cont neactivat">
              pending
            </mat-icon>
          }
          @if (row.validated) {
            <mat-icon class="status-icon done" matTooltip="Cont activat">
              verified_user
            </mat-icon>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nume </th>
        <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prenume </th>
        <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

      <ng-container matColumnDef="domain">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Domeniu </th>
        <td mat-cell *matCellDef="let row">
          <span>{{row.specialization.domain.name}}</span>
          @if (row.specialization.domain.type == 'bachelor') {
            <span>, Licență</span>
          }
          @if (row.specialization.domain.type == 'master') {
            <span>, Master</span>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Grupă </th>
        <td mat-cell *matCellDef="let row"> {{row.group}} </td>
      </ng-container>

      <ng-container matColumnDef="promotion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Promoție </th>
        <td mat-cell *matCellDef="let row"> {{row.promotion}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acțiuni</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="viewStudent(element)">
            <mat-icon>visibility</mat-icon>
          </button>

          <button mat-icon-button [matMenuTriggerFor]="studentMenu" [matMenuTriggerData]="{student: element}">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row @rowAnimation *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row @rowAnimation *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-mdc-row mdc-data-table__row" *matNoDataRow>
        <td class="mat-mdc-cell mdc-data-table__cell" colspan="1000">
          Nu există studenți.
        </td>
      </tr>
    </table>
  </div>

  <mat-paginator
    [pageSize]="resolverData.pageSize"
    [pageIndex]="resolverData.page"
    [length]="resolverData.count"
    [pageSizeOptions]="resolverData.pageSizes"
  />
</div>
