<h2 mat-dialog-title>Notați lucrearea</h2>
<mat-dialog-content>
    <form [formGroup]="gradeForm" fxLayout="row grid" fxLayoutGap="10px grid">
        <mat-form-field appearance="outline" fxFlex="100">
            <input matInput type="number" formControlName="forPaper">
            <mat-label>Notă pentru lucrare</mat-label>
            <mat-error>Nota trebuie să fie un număr întreg de la 1 la 10.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100">
            <input matInput type="number" formControlName="forPresentation">
            <mat-label>Notă pentru prezentare</mat-label>
            <mat-error>Nota trebuie să fie un număr întreg de la 1 la 10.</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Anulați</button>
    <button mat-raised-button color="primary"
    [mat-dialog-close]="{ forPaper: forPaper.value, forPresentation: forPresentation.value }"
    [disabled]="gradeForm.invalid"
    >Notați</button>
</mat-dialog-actions>