<div matDialogTitle>Notați lucrarea</div>
<mat-dialog-content>
  <p class="paper-description">
    Titlu lucrare: <b>{{ paper.title }}</b> <br>
    Student: <b>{{ paper.student.fullName }} </b> <br>
    Profesor coordonator: <b>{{ paper.teacher.fullName }} </b>
  </p>
  <form [formGroup]="gradeForm" fxLayout="row grid" fxLayoutGap="6px grid">
    <mat-form-field appearance="outline" fxFlex="100" subscriptSizing="fixed">
      <input matInput type="number" formControlName="forPaper">
      <mat-label>Notă pentru lucrare</mat-label>
      <mat-error>Nota trebuie să fie un număr întreg de la 1 la 10.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="100" subscriptSizing="fixed">
      <input matInput type="number" formControlName="forPresentation">
      <mat-label>Notă pentru prezentare</mat-label>
      <mat-error>Nota trebuie să fie un număr întreg de la 1 la 10.</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Anulați</button>
  <button
    matButton="filled"
    [mat-dialog-close]="{ forPaper: forPaper.value, forPresentation: forPresentation.value }"
    [disabled]="gradeForm.invalid"
  >
    Notați
  </button>
</mat-dialog-actions>
