@if(isSubmitting) {
  <app-loading color="primary"></app-loading>
}
<div matDialogTitle>Programați lucrările</div>
<div matDialogContent>
  <p>
    Stabiliți un timp estimativ pentru prezentarea lucrărilor atribuite acestei comisii.
    Studenții vor putea vedea în platformă programarea pentru lucrările acestora.
  </p>
  <mat-form-field appearance="outline" style="margin-bottom: 12px;">
    <mat-label>Timp acordat pe lucrare</mat-label>
    <mat-select [formControl]="minutesPerPaper">
      @for(value of minutesPerPaperOptions; track value) {
        <mat-option [value]="value">{{ value }} min.</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <div cdkDropListGroup class="group-container">
    <div class="paper-container">
      <div class="container-header">
        <h2>Lucrări neprogramate</h2>
        <div>Trageți lucrările pentru a le programa.</div>
      </div>
      <div cdkDropList id="0" [cdkDropListData]="papersPerDay[0]" class="paper-list" (cdkDropListDropped)="drop($event)">
        @if(papersPerDay[0].length > 0) {
          <div class="auto-schedule-notice">
            <div class="explanation">
              <mat-icon>lightbulb</mat-icon>
              <span>
                Grupați automat lucrările neprogramate pe zilele de activitate ale comisiei. Acestea vor fi balansate
                automat și sortate după data înscrierii, lucrările încă nevalidate de secretariat fiind lăsate la urmă.
              </span>
            </div>
            <button mat-button (click)="autoSchedule()">Grupați</button>
          </div>
        }
        @for (paper of papersPerDay[0]; track paper) {
          <div class="paper-box" cdkDrag>
            <div class="paper-text">
              <div class="paper-title">
                <span>{{ paper.title }}</span>
                @if(paper.isValid) {
                  <mat-icon class="valid-icon">verified</mat-icon>
                }
              </div>
              <div>{{ paper.student.fullName }} · {{ paper.teacher.lastName }} {{ paper.teacher.firstName }}</div>
            </div>
          </div>
        }
      </div>
    </div>

    @for(day of days; track day) {
      <div class="paper-container">
        <div class="container-header">
          <h2>Ziua {{ $index + 1 }}</h2>
          <div>{{ day.startTime | datetime }}</div>
        </div>

        <div cdkDropList [id]="day.id.toString()" [cdkDropListData]="papersPerDay[day.id]" class="paper-list" (cdkDropListDropped)="drop($event)">
          @for (paper of papersPerDay[day.id]; track paper) {
            <div class="paper-box" cdkDrag>
              <div class="paper-text">
                <div class="paper-title">
                  <span>{{ paper.title }}</span>
                  @if(paper.isValid) {
                    <mat-icon class="valid-icon">verified</mat-icon>
                  }
                </div>
                <div>{{ paper.student.fullName }} · {{ paper.teacher.lastName }} {{ paper.teacher.firstName }}</div>
              </div>
              <button mat-button color="primary" class="edit-time" (click)="changePaperTime(day, $index)">
                <span>{{ paper.scheduledGradingDraft | time }}</span>
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
<div matDialogActions align="end">
  <button mat-button mat-dialog-close>Anulați</button>
  <button mat-button (click)="saveSchedule()">Salvați</button>
</div>
