<div class="loading-shade" *ngIf="isSavingData">
    <mat-spinner diameter="48" color="accent"></mat-spinner>
    <div class="message">Se salveză datele...</div>
</div>

<h2 mat-dialog-title>
    {{ 'STUDENT.EXTRA_DATA_EDITOR.HEADER' | translate }}
</h2>

<mat-dialog-content class="mat-typography">
        <form [formGroup]="studentDataForm">
            <div class="section-header">{{ 'USER_DATA.PERSONAL_DATA' | translate }}</div>
            <div fxLayout="row grid" fxLayoutGap="10px grid">
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.BIRTH_LAST_NAME' | translate }} *
                    </mat-label>
                    <input matInput type="text" formControlName="birthLastName">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.CURRENT_LAST_NAME' | translate }} *
                    </mat-label>
                    <input matInput type="text" disabled [value]="userData.lastName">
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="70">
                    <mat-label>
                        {{ 'USER_DATA.FIRST_NAME' | translate }} *
                    </mat-label>
                    <input matInput type="text" disabled [value]="userData.firstName">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="30">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.PARENT_INITIAL' | translate }} *
                    </mat-label>
                    <input matInput type="text" formControlName="parentInitial" placeholder="Exemplu: A. Gh. B.">
                    <mat-error>
                        {{ 'STUDENT.EXTRA_DATA_EDITOR.PARENT_INITIAL_ERROR' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.FATHER_FIRST_NAME' | translate }} *
                    </mat-label>
                    <input matInput type="text" formControlName="fatherName">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.MOTHER_FIRST_NAME' | translate }} *
                    </mat-label>
                    <input matInput type="text" formControlName="motherName">
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.DATE_OF_BIRTH' | translate }} *
                    </mat-label>
                    <input matInput type="date" formControlName="dateOfBirth">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.CIVIL_STATE' | translate }} *
                    </mat-label>
                    <mat-select formControlName="civilState">
                        <mat-option value="not_married">
                            {{ 'USER_DATA.STUDENT.EXTRA_DATA.CIVIL_STATES.NOT_MARRIED' | translate }}
                        </mat-option>
                        <mat-option value="married">
                            {{ 'USER_DATA.STUDENT.EXTRA_DATA.CIVIL_STATES.MARRIED' | translate }}
                        </mat-option>
                        <mat-option value="divorced">
                            {{ 'USER_DATA.STUDENT.EXTRA_DATA.CIVIL_STATES.DIVORCED' | translate }}
                        </mat-option>
                        <mat-option value="widow">
                            {{ 'USER_DATA.STUDENT.EXTRA_DATA.CIVIL_STATES.WIDOW' | translate }}
                        </mat-option>
                        <mat-option value="re_married">
                            {{ 'USER_DATA.STUDENT.EXTRA_DATA.CIVIL_STATES.RE_MARRIED' | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.CITIZENSHIP' | translate }} *
                    </mat-label>
                    <input matInput type="text" formControlName="citizenship">
                    <mat-hint>
                        {{ 'STUDENT.EXTRA_DATA_EDITOR.FILL_IN_ROMANIAN' | translate }}
                    </mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.ETHNICITY' | translate }} *
                    </mat-label>
                    <input matInput type="text" formControlName="ethnicity">
                    <mat-hint>
                        {{ 'STUDENT.EXTRA_DATA_EDITOR.FILL_IN_ROMANIAN' | translate }}
                    </mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100">
                    <mat-label>
                        {{ 'USER_DATA.CNP' | translate }} *
                    </mat-label>
                    <input matInput type="text" disabled [value]="userData.CNP">
                </mat-form-field>
            </div>

            <div class="section-header">
                {{ 'USER_DATA.STUDENT.EXTRA_DATA.PLACE_OF_BIRTH' | translate }}
            </div>
            <div fxLayout="row grid" fxLayoutGap="10px grid">
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.COUNTRY' | translate }} *
                    </mat-label>
                    <input matInput type="text" formControlName="placeOfBirthCountry">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.COUNTY' | translate }} *
                    </mat-label>
                    <input matInput type="text" formControlName="placeOfBirthCounty">
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.LOCALITY' | translate }} *
                    </mat-label>
                    <input matInput type="text" formControlName="placeOfBirthLocality">
                </mat-form-field>
            </div>

            <div class="section-header">Date de contact</div>
            <div fxLayout="row grid" fxLayoutGap="10px grid">
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.LANDLINE' | translate }} *
                    </mat-label>
                    <input matInput type="text" formControlName="landline">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.MOBILE_PHONE' | translate }} *
                    </mat-label>
                    <input matInput type="text" formControlName="mobilePhone">
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
                    <mat-label>
                        {{ 'USER_DATA.EMAIL' | translate }} *
                    </mat-label>
                    <input matInput type="text" formControlName="personalEmail">
                </mat-form-field>
            </div>

            <div class="section-header">
                {{ 'USER_DATA.STUDENT.EXTRA_DATA.HOME_ADDRESS' | translate }}
            </div>
            <div fxLayout="row grid" fxLayoutGap="10px grid" formGroupName="address">
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.COUNTY' | translate }} *
                    </mat-label>
                    <input matInput type="text" formControlName="county">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.LOCALITY' | translate }} *
                    </mat-label>
                    <input matInput type="text" formControlName="locality">
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="70" fxFlex.gt-xs="70">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.STREET' | translate }} *
                    </mat-label>
                    <input matInput type="text" formControlName="street">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="30" fxFlex.gt-xs="30">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.NUMBER' | translate }} *
                    </mat-label>
                    <input matInput type="text" formControlName="streetNumber">
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="50" fxFlex.gt-xs="25">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.BUILDING' | translate }}
                    </mat-label>
                    <input matInput type="text" formControlName="building">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50" fxFlex.gt-xs="25">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.STAIR' | translate }}
                    </mat-label>
                    <input matInput type="text" formControlName="stair">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50" fxFlex.gt-xs="25">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.FLOOR' | translate }}
                    </mat-label>
                    <input matInput type="text" formControlName="floor">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50" fxFlex.gt-xs="25">
                    <mat-label>
                        {{ 'USER_DATA.STUDENT.EXTRA_DATA.APARTMENT' | translate }}
                    </mat-label>
                    <input matInput type="text" formControlName="apartment">
                </mat-form-field>
            </div>
        </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button [disabled]="studentDataForm.invalid" (click)="saveData()">
        {{ 'DIALOG_BUTTONS.SAVE' | translate }}
    </button>
</mat-dialog-actions>