.wrapper {
  padding: 12px 8px;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 12px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
  }

  .profile-picture {
    background-color: var(--mat-sys-secondary-container);
    color: var(--mat-sys-on-secondary-container);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    mat-icon {
      width: 32px;
      height: 32px;
      font-size: 32px;
    }
  }


  .identity-details {
    flex: 1;
    min-width: 0;
  }
}

