.splash-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: var(--mat-sys-background);
}

:host {
  display: flex;
  flex-direction: column;
}

.committee-toolbar {
  background-color: var(--mat-sys-surface);
  border-bottom: 1px solid var(--mat-sys-outline-variant);

  .committee-info {
    margin-left: 8px;
    flex: 1;
    min-width: 0;
  }

  .committee-name {
    font-size: 16px;
    line-height: 16px;
  }

  .committer-domains {
    font-size: 14px;
    line-height: 15px;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.paper-assign-container {
  margin-top: 32px;
  padding: 0 16px;
  flex: 1;
  overflow-y: auto;
}

.list-container {
  vertical-align: top;
}

.spinner-container {
  display: flex;
  justify-content: center;
  padding: 12px;
}

.paper-list {
  border: solid 1px var(--mat-sys-outline-variant);
  min-height: 60px;
  background: var(--mat-sys-surface);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paper-box {
  padding: 16px 10px;
  border-bottom: solid 1px var(--mat-sys-outline);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: move;
  background: var(--mat-sys-surface-variant);

  .paper-title {
    font-size: 16px;
    color: var(--mat-sys-on-surface-variant);
    margin-bottom: 8px;
  }

  .paper-description {
    color: var(--mat-sys-on-surface-variant);
    height: 70px;
    overflow: hidden;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0px -39px 10px -30px var(--mat-sys-surface-variant);
    }
  }

  .paper-topics {
    margin-top: 4px;
  }

  .paper-authors {
    color: var(--mat-sys-on-surface-variant);
    margin-top: 6px;
    border-top: 1px solid var(--mat-sys-outline);
    padding-top: 8px;
    font-size: 14px;
    margin-bottom: -8px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: var(--mat-sys-level3);

}

.paper-box.cdk-drag-disabled {
  background: var(--mat-sys-surface);
  cursor: default;

  .paper-description::after {
    box-shadow: inset 0px -39px 10px -30px var(--mat-sys-surface);
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.paper-box:last-child {
  border: none;
}

.paper-list.cdk-drop-list-dragging .paper-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.filters {
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 16px !important;
}

.no-results {
  align-self: center;
  justify-self: center;
  font-size: 14px;
  color: var(--mat-sys-on-surface-variant);
}

.warn-text {
  color: var(--mat-sys-error);
}
