<mat-card *ngIf="sessionSettings">
  <mat-card-header>
    <h3 matCardTitle>Platforma de finalizare studii FMI</h3>
    <mat-card-subtitle>Sesiunea {{ sessionSettings?.sessionName }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <div matListItemTitle>Perioadă cereri de asociere</div>
        <div matListItemLine>{{ sessionSettings.applyStartDate | date:"dd.MM.yyyy" }} - {{ sessionSettings.applyEndDate | date:"dd.MM.yyyy" }}</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Perioadă depunere documente</div>
        <div matListItemLine>{{ sessionSettings.fileSubmissionStartDate | date:"dd.MM.yyyy" }} - {{ sessionSettings.fileSubmissionEndDate | date:"dd.MM.yyyy" }}</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Termen limită predare lucrare</div>
        <div matListItemLine>{{sessionSettings.paperSubmissionEndDate | date:"dd.MM.yyyy"}}</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
