<mat-card *ngIf="sessionSettings">
    <mat-card-header>
        <h3 mat-card-title>Platforma de asociere FMI</h3>
        <mat-card-subtitle>Sesiunea {{ sessionSettings?.sessionName }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <div mat-line>Perioadă cereri de asociere</div>
                <div mat-line>{{sessionSettings.applyStartDate | date:"dd.MM.yyyy"}} - {{sessionSettings.applyEndDate | date:"dd.MM.yyyy"}}</div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>Perioadă depunere documente</div>
                <div mat-line>{{sessionSettings.fileSubmissionStartDate | date:"dd.MM.yyyy"}} - {{sessionSettings.fileSubmissionEndDate | date:"dd.MM.yyyy"}}</div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>Termen limită predare lucrare</div>
                <div mat-line>{{sessionSettings.paperSubmissionEndDate | date:"dd.MM.yyyy"}}</div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>