@if (isLoadingData) {
  <app-loading type="spinner" color="primary"></app-loading>
}
@switch (data.mode) {
  @case('create') {
    <h2 mat-dialog-title>Adăugați student</h2>
  }
  @case ('edit') {
    <h2 mat-dialog-title>Editați student</h2>
  }
  @case ('view') {
    <h2 mat-dialog-title>Vizualizare student</h2>
  }
}
<mat-dialog-content class="mat-typography" [class.mode-view]="data.mode == 'view'">
  <form [formGroup]="studentForm">
    <div fxLayout="row grid" fxLayoutGap="10px grid">
      <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
        <mat-label>Nume</mat-label>
        <input matInput type="text" formControlName="lastName" name="studentLastName">
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
        <mat-label>Prenume</mat-label>
        <input matInput type="text" formControlName="firstName" name="studentFirstName">
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
        <mat-label>CNP</mat-label>
        <input matInput type="text" formControlName="CNP" name="studentCNP">
        <mat-error>{{ studentForm.get("CNP").errors?.['CNPValidator'].message }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email" name="studentEmail">
        @if (emailChanged) {
          <mat-hint class="warning">
            E-mail modificat. Utilizatorul va avea noi credențiale.
          </mat-hint>
        }
        @if(email.hasError('emailUnique')) {
          <mat-error>
            Acest e-mail este deja luat.
            Apăsați <a class="link" (click)="mergeAccounts()">aici</a> pentru a fuziona conturile.
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
        <mat-label>Număr matricol</mat-label>
        <input matInput type="text" formControlName="identificationCode" name="studentIdentificationCode">
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
        <mat-label>Forma de finanțare</mat-label>
        <mat-select formControlName="fundingForm">
          <mat-option value="budget">Buget</mat-option>
          <mat-option value="tax">Taxă</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
        <mat-label>Grupă</mat-label>
        <input matInput type="text" formControlName="group" name="studentGroup">
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
        <mat-label>Promoție</mat-label>
        <input matInput type="text" formControlName="promotion" name="studentPromotion">
      </mat-form-field>

      <!-- Edit mode -->
      @if (data.mode != 'view') {
        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
          <mat-label>Domeniu</mat-label>
          <mat-select formControlName="domainId">
            @for (domain of domains; track domain) {
              <mat-option [value]="domain.id">
                <span>{{domain.name}}</span>
                @if (domain.type == 'bachelor') {
                  <span> (Licență)</span>
                }
                @if (domain.type == 'master') {
                  <span> (Master)</span>
                }
              </mat-option>
            }
          </mat-select>
          @if (loadingDomains) {
            <mat-spinner class="select-spinner" [diameter]="24"></mat-spinner>
          }
        </mat-form-field>
      }
      @if (data.mode != 'view') {
        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
          <mat-label>Programul de studii</mat-label>
          <mat-select formControlName="specializationId">
            @for (specialization of chosenDomain?.specializations; track specialization) {
              <mat-option [value]="specialization.id">
                <span>{{specialization.name}} ({{specialization.studyForm.toLocaleUpperCase()}})</span>
              </mat-option>
            }
          </mat-select>
          @if (loadingDomains) {
            <mat-spinner class="select-spinner" [diameter]="24"></mat-spinner>
          }
        </mat-form-field>
      }

      <!-- View mode -->
      @if (data.mode == 'view') {
        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
          <mat-label>Domeniu</mat-label>
          <input matInput disabled type="text" [value]="data.user?.specialization.domain.name">
        </mat-form-field>
      }
      @if (data.mode == 'view') {
        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
          <mat-label>Programul de studii</mat-label>
          <input matInput disabled type="text" [value]="data.user?.specialization.name + ' (' + data.user?.specialization.studyForm.toLocaleUpperCase() + ')'">
        </mat-form-field>
      }

      <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
        <mat-label>Anul înmatriculării</mat-label>
        <input matInput type="text" formControlName="matriculationYear" name="studentMatriculationYear">
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50">
        <mat-label>Media generală</mat-label>
        <input matInput type="text" formControlName="generalAverage" name="studentGeneralAverage">
      </mat-form-field>
      @if(studentForm.hasError('emailUnique')) {
        <p>E-mailul este deja folosit.</p>
      }
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  @if(data.mode != 'view') {
    <button mat-button mat-dialog-close>Anulați</button>
  } @else {
    <button mat-button mat-dialog-close>Închideți</button>
    <button mat-button (click)="switchToEdit()">Editați studentul</button>
  }
  @if(data.mode != 'create') {
    <button mat-button (click)="editUserExtraData()">Editați datele suplimentare</button>
  }
  @if(data.mode === 'create') {
    <button mat-button (click)="saveStudent()" [disabled]="studentForm.invalid">Adăugați</button>
  } @else if(data.mode === 'edit') {
    <button mat-button (click)="saveStudent()" [disabled]="studentForm.invalid">Salvați</button>
  }
</mat-dialog-actions>
