:host {
  position: relative;
  display: block;
}

app-loading {
  margin: -24px;
  margin-bottom: 0;
}

.select-spinner {
  position: absolute;
  top: 6px;
  right: 4px;
  background: var(--mat-sys-surface);
}

.mode-view input {
  color: var(--mat-sys-on-surface);
}
