<div mat-dialog-title>
    <h2 class="title" *ngIf="mode == 'signDocument'">
        {{ 'STUDENT.DOCUMENT_UPLOADER.HEADER_SIGN' | translate }}
    </h2>
    <h2 class="title" *ngIf="mode == 'uploadDocument'">
        {{ 'STUDENT.DOCUMENT_UPLOADER.HEADER_UPLOAD' | translate }}
    </h2>
    <h3 class="subtitle">{{data.document.title}}</h3>
</div>

<mat-dialog-content class="mat-typography" *ngIf="mode == 'signDocument'">
    <div>
        <p>
            {{ 'STUDENT.DOCUMENT_UPLOADER.STEPS' | translate }}: <br>
            1. {{ 'STUDENT.DOCUMENT_UPLOADER.DOWNLOAD_GENERATED_DOCUMENT_STEP' | translate }}
        </p>
        <div class="button-container">
            <button mat-raised-button (click)="downloadDocument()"
            *ngIf="!isLoadingFile" class="icon-button">
                <mat-icon>cloud_download</mat-icon>
                <span>
                    {{ 'STUDENT.DOCUMENT_UPLOADER.DOWNLOAD_DOCUMENT_BUTTON' | translate }}
                </span>
            </button>
            <mat-spinner [diameter]="36" *ngIf="isLoadingFile"></mat-spinner>
        </div>
        <p>
            2. {{ 'STUDENT.DOCUMENT_UPLOADER.SIGN_DOCUMENT_STEP' | translate }}
        </p>
        <p>
            3. {{ 'STUDENT.DOCUMENT_UPLOADER.UPLOAD_DOCUMENT_STEP' | translate }} <br>
            {{ 'STUDENT.DOCUMENT_UPLOADER.ACCEPTED_FILES' | translate }}:
            {{ acceptedExtensions }}
        </p>
        <div fxLayout="row">
            <div [hidden]="isUploadingFile">
                <label for="file" class="mat-raised-button icon-button" *ngIf="state == 'docDownloaded'">
                    <mat-icon>cloud_upload</mat-icon>
                    <span>
                        {{ 'STUDENT.DOCUMENT_UPLOADER.UPLOAD_DOCUMENT_BUTTON' | translate }}
                    </span>
                </label>
                <button mat-raised-button *ngIf="state == 'initial'" class="icon-button" disabled>
                    <mat-icon>cloud_upload</mat-icon>
                    <span>
                        {{ 'STUDENT.DOCUMENT_UPLOADER.UPLOAD_DOCUMENT_BUTTON' | translate }}
                    </span>
                </button>
                <input type="file" id="file" [accept]="data.document.acceptedMimeTypes" (change)="handleFileInput($event.target, 'signed')">     
            </div>
            <mat-spinner [diameter]="36" *ngIf="isUploadingFile"></mat-spinner>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-content class="mat-typography" *ngIf="mode == 'uploadDocument'">
    <p>
        {{ 'STUDENT.DOCUMENT_UPLOADER.ACCEPTED_FILES' | translate }}:
        {{ acceptedExtensions }}
    </p>
    <div fxLayout="row">
        <div [hidden]="isUploadingFile">
            <label for="file" class="mat-raised-button icon-button">
                <mat-icon>cloud_upload</mat-icon>
                <span>
                    {{ 'STUDENT.DOCUMENT_UPLOADER.UPLOAD_DOCUMENT_BUTTON' | translate }}
                </span>
            </label>
            <input type="file" id="file" [accept]="data.document.acceptedMimeTypes" (change)="handleFileInput($event.target, 'copy')">     
        </div>
        <mat-spinner [diameter]="36" *ngIf="isUploadingFile"></mat-spinner>
    </div>
</mat-dialog-content>
