:host {
  display: block;
  padding: 12px;
}

.offer-card {
  width: calc(100% - 48px);
  margin: 0 auto;
  margin-bottom: 16px;
  overflow: hidden;
  max-width: 800px;

  .offer-card-header {
    display: flex;

    .header-content {
      flex: 1;
    }
  }

  button {
    margin: 0 4px;
  }
}
