<mat-list-item *ngFor="let document of requiredDocuments">
    <span mat-list-icon>
        <mat-icon *ngIf="!documentMap[document.name].actionPending">description</mat-icon>
        <mat-spinner diameter="24" *ngIf="documentMap[document.name].actionPending"></mat-spinner>
    </span>
    <div mat-line>{{document.title}}</div>
    <div mat-line>
        <span *ngIf="documentMap[document.name].nextAction == null || documentMap[document.name].nextAction == 'upload'">
            {{ 'STUDENT.PAPER.MISSING_DOCUMENT' | translate }}
            <span *ngIf="documentMap[document.name].uploadBy != perspective">
                | {{ 'STUDENT.PAPER.CAN_BE_UPLOADED_BY_' + documentMap[document.name].uploadBy | uppercase | translate }}
            </span>
        </span>
        <span *ngIf="documentMap[document.name].nextAction == 'sign'">
            {{ 'STUDENT.PAPER.DOCUMENT_NEEDS_SIGNATURE' | translate }}
        </span>
        <span *ngIf="documentMap[document.name].nextAction == 'view' && documentMap[document.name].actualTypes.generated && !documentMap[document.name].requiredTypes.signed">
            {{ 'STUDENT.PAPER.GENERATED_DOCUMENT' | translate }}
        </span>
        <span *ngIf="documentMap[document.name].nextAction == 'view' && documentMap[document.name].actualTypes.signed">
            {{ 'STUDENT.PAPER.SIGNED_DOCUMENT' | translate }}
        </span>
        <span *ngIf="documentMap[document.name].nextAction == 'view' && documentMap[document.name].actualTypes.copy">
            {{ 'STUDENT.PAPER.UPLOADED_DOCUMENT' | translate }}
        </span>
    </div>
    <button class="left-button"
        mat-icon-button
        matTooltip="Ștergeți documentul"
        (click)="deleteDocument(documentMap[document.name])"
        *ngIf="documentMap[document.name].nextAction == 'view' && documentMap[document.name].uploadBy == perspective"
        [disabled]="documentMap[document.name].actionPending || !documentMap[document.name].canChange">
        <mat-icon>history</mat-icon>
    </button>
    <button 
        mat-stroked-button
        *ngIf="documentMap[document.name].nextAction == 'view'"
        (click)="viewDocument(documentMap[document.name])"
        [disabled]="documentMap[document.name].actionPending">
        {{ 'STUDENT.PAPER.VIEW_DOCUMENT' | translate }}
    </button>
    <button 
        mat-stroked-button
        *ngIf="documentMap[document.name].nextAction == 'sign'"
        (click)="openDocumentDialog('sign', document.name, documentMap[document.name].lastId)"
        [disabled]="documentMap[document.name].actionPending || !documentMap[document.name].canChange">
        {{ 'STUDENT.PAPER.SIGN_DOCUMENT' | translate }}
    </button>
    <button 
        mat-stroked-button
        *ngIf="documentMap[document.name].nextAction == 'upload'"
        (click)="openDocumentDialog('uploadCopy', document.name)"
        [disabled]="documentMap[document.name].actionPending || !documentMap[document.name].canChange">
        {{ 'STUDENT.PAPER.UPLOAD_DOCUMENT' | translate }}
    </button>
</mat-list-item>