<mat-list-item *ngFor="let document of requiredDocuments">
    <span mat-list-icon>
        <mat-icon *ngIf="!documentMap[document.name].actionPending">description</mat-icon>
        <mat-spinner diameter="24" *ngIf="documentMap[document.name].actionPending"></mat-spinner>
    </span>
    <div mat-line>{{document.title}}</div>
    <div mat-line>
        <span *ngIf="documentMap[document.name].nextAction == null || documentMap[document.name].nextAction == 'upload'">
            Document lipsă
            <span *ngIf="documentMap[document.name].uploadBy != perspective">
                | Se încarcă de către {{ USER_TYPES[documentMap[document.name].uploadBy] }}
            </span>
        </span>
        <span *ngIf="documentMap[document.name].nextAction == 'sign'">
            Necesită semnătură
        </span>
        <span *ngIf="documentMap[document.name].nextAction == 'view' && documentMap[document.name].actualTypes.generated && !documentMap[document.name].requiredTypes.signed">
            Document generat
        </span>
        <span *ngIf="documentMap[document.name].nextAction == 'view' && documentMap[document.name].actualTypes.signed">
            Document semnat
        </span>
        <span *ngIf="documentMap[document.name].nextAction == 'view' && documentMap[document.name].actualTypes.copy">
            Document încărcat
        </span>
    </div>
    <button class="left-button"
        mat-icon-button
        matTooltip="Ștergeți documentul"
        (click)="deleteDocument(documentMap[document.name])"
        *ngIf="documentMap[document.name].nextAction == 'view' && documentMap[document.name].uploadBy == perspective"
        [disabled]="documentMap[document.name].actionPending || !documentMap[document.name].canChange">
        <mat-icon>history</mat-icon>
    </button>
    <button 
        mat-stroked-button
        *ngIf="documentMap[document.name].nextAction == 'view'"
        (click)="viewDocument(documentMap[document.name])"
        [disabled]="documentMap[document.name].actionPending"
    >
        Vizualizați
    </button>
    <button 
        mat-stroked-button
        *ngIf="documentMap[document.name].nextAction == 'sign'"
        (click)="openDocumentDialog('sign', document.name, documentMap[document.name].lastId)"
        [disabled]="documentMap[document.name].actionPending || !documentMap[document.name].canChange"
    >
        Semnați
    </button>
    <button 
        mat-stroked-button
        *ngIf="documentMap[document.name].nextAction == 'upload'"
        (click)="openDocumentDialog('uploadCopy', document.name)"
        [disabled]="documentMap[document.name].actionPending || !documentMap[document.name].canChange"
    >
        Încărcați
    </button>
</mat-list-item>