<app-loading *ngIf="isLoadingInitialData || isLoadingData" color="primary"></app-loading>

<mat-card class="paper-card" *ngIf="!isLoadingInitialData">
    <div class="paper-header">
        <div class="paper-header-content">
            <h1 class="paper-title">{{paper.title}}</h1>
            <h3 class="paper-type">
                Lucrare de {{PAPER_TYPES[paper.type]}}
            </h3>
            <div class="paper-topics">
                <span class="badge" *ngFor="let topic of paper.topics">
                    {{topic.name}}
                </span>
            </div>
            <p class="paper-description">{{ paper.description }}</p>
            <p class="paper-teacher">
                <app-user-snippet [user]="paper.teacher">Profesor coordonator</app-user-snippet>
            </p>
        </div>
        <div class="paper-header-actions">
            <button mat-icon-button
                [disabled]="!canEditPaper || paper.isValid != null"
                (click)="openEditDialog()"
            >
                <mat-icon>mode</mat-icon>
            </button>
        </div>
    </div>

    <ng-container *ngIf="!submissionStarted">
        <div class="tip-card" *ngIf="deadlinePassed">
            <mat-icon class="tip-icon">info</mat-icon>
            <div class="tip-card-content">
                Veți putea începe încărcarea documentelor pe
                {{ sessionSettings.fileSubmissionStartDate | date:"dd.MM.yyyy" }}.
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="paper.isValid == null && submissionStarted">
        <!-- TIP CARD - NO STUDENT EXTRA DATA -->
        <div class="tip-card warning" *ngIf="studentExtraData == null && !isWaitingForDocumentGeneration">
            <mat-icon class="tip-icon">warning_amber</mat-icon>
            <div class="tip-card-content">
                Pentru a genera documentele de la dosar, este necesar să completați date suplimentare.
            </div>
            <div class="tip-card-action">
                <button mat-button (click)="editStudentExtraData()">
                    Completați
                </button>
            </div>
        </div>

        <!-- TIP CARD - STUDENT EXTRA DATA EDIT -->
        <div class="tip-card" [class.success]="areDocumentsUploaded"
            *ngIf="studentExtraData && !isWaitingForDocumentGeneration && !deadlinePassed">
            <mat-icon class="tip-icon">
                {{ areDocumentsUploaded ? 'done_all' : 'done' }}
            </mat-icon>
            <div class="tip-card-content">
                <ng-container *ngIf="!areDocumentsUploaded">
                    Documente generate.
                    Aveți documente de completat.
                </ng-container>
                <ng-container *ngIf="areDocumentsUploaded">
                    Ați încărcat toate documentele.
                </ng-container>
            </div>
            <div class="tip-card-action">
                <button mat-button (click)="editStudentExtraData()" *ngIf="canUploadSecretaryFiles">
                    Modificați datele
                </button>
            </div>
        </div>

        <!-- TIP CARD - Waiting document generation -->
        <div class="tip-card isGenerating" *ngIf="isWaitingForDocumentGeneration">
            <div class="tip-card-content">
                Se generează documentele...
            </div>
            <mat-progress-bar mode="query" color="primary"></mat-progress-bar>
        </div>
         <!-- TIP CARD - Deadline Passed -->
        <div class="tip-card severe" *ngIf="deadlinePassed">
            <mat-icon class="tip-icon">priority_high</mat-icon>
            <div class="tip-card-content">
                Perioada de încărcare a documententelor s-a încheiat. <br>
                Nu ați încărcat documentele la timp.
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="paper.isValid == true">
        <div class="tip-card success" *ngIf="!paper.committee || !paper.committee.finalGrades">
            <mat-icon class="tip-icon">done_all</mat-icon>
            <div class="tip-card-content">
                <ng-container *ngIf="paper.committee">
                    Lucrarea dvs. a fost validată de către secretariat 
                    și atribuită la {{paper.committee.name}}.
                </ng-container>
                <ng-container *ngIf="!paper.committee">
                    Lucrarea dvs. a fost validată de către secretariat.
                </ng-container>   
            </div>
        </div>
        <div class="tip-card success" *ngIf="paper.committee?.finalGrades">
            <mat-icon class="tip-icon">star</mat-icon>
            <div class="tip-card-content">
                Ați obținut nota {{ paper.gradeAverage | number:"1.2-2" }}.  
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="paper.isValid == false">
        <div class="tip-card severe">
            <mat-icon class="tip-icon">priority_high</mat-icon>
            <div class="tip-card-content">
                Lucrarea dvs. a fost invalidată de către secretariat.
            </div>
        </div>
    </ng-container>
   

    <mat-list class="document-list">
        <div mat-subheader>Documente</div>
        <app-paper-document-list *ngIf="!isLoadingInitialData" [paperId]="paper.id"
            [requiredDocuments]="requiredDocuments"
            [documents]="paper.documents"
            [sessionSettings]="sessionSettings"
            perspective="student"
            [canEdit]="paper.isValid == null"
            (documentEvents)="handleDocumentEvents($event)"
            (areDocumentsUploaded)="handleAreDocumentsUploaded($event)"
        ></app-paper-document-list>
    </mat-list>
</mat-card>