.paper-card {
  border-radius: 0px;
  padding: 24px;
  box-shadow: none;
}

.paper-header {
  display: flex;

  .paper-header-content {
    flex: 1;
  }

}

.paper-title {
  margin-bottom: 4px;
}

.paper-type {
  margin-bottom: 0;
}

.paper-type,
.paper-teacher {
  color: var(--mat-sys-on-surface-variant);
}

.paper-description {
  color: var(--mat-sys-on-surface-variant);
  margin-top: 16px;
  white-space: pre-wrap;
}

.paper-snippets {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tip-card {
  &.isGenerating {
    position: relative;
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);

    mat-progress-bar {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.document-list {
  padding-top: 8px;
  margin: 0 -16px;
}

.session-card {
  margin: 16px 0;
  margin-top: 8px;

  h3 {
    margin-bottom: 0;
  }
}
