@if(isLoadingInitialData || isLoadingData) {
  <app-loading color="primary"></app-loading>
}
@if(!isLoadingInitialData) {
  <mat-card class="paper-card">
    <div class="paper-header">
      <div class="paper-header-content">
        <h1 class="paper-title">{{paper.title}}</h1>
        <h3 class="paper-type">
          Lucrare de {{PAPER_TYPES[paper.type]}}
        </h3>
        <div class="paper-topics">
          @for(topic of paper.topics; track topic.id) {
            <span class="badge">{{topic.name}}</span>
          }
        </div>
        <p class="paper-description">{{ paper.description }}</p>
        <div class="paper-snippets">
          <app-user-snippet [user]="paper.teacher">
            <span class="paper-teacher">Profesor coordonator</span>
          </app-user-snippet>
          @if(paper.committee) {
            @defer {
              <app-committee-snippet [committee]="paper.committee" [paper]="paper">
                Programare susținere:
                @if(paper.scheduledGrading) {
                  {{ paper.scheduledGrading | datetime }}
                } @else {
                  TBA
                }
              </app-committee-snippet>
            }
          }
        </div>
      </div>
      <div class="paper-header-actions">
        <button mat-icon-button [disabled]="!canEditPaper || paper.isValid != null" (click)="openEditDialog()">
          <mat-icon>mode</mat-icon>
        </button>
      </div>
    </div>

    @if(!deadlinePassed) {
      <div class="tip-card translucent session-card" [ngClass]="{ warning: !paper.submitted, success: paper.submitted }">
        <mat-icon class="tip-icon">
          {{ paper.submitted ? 'check_circle' : 'announcement' }}
        </mat-icon>
        <div class="tip-card-content">
          <h3>Sesiunea {{ sessionSettings.sessionName }}</h3>
          @if(!paper.submitted) {
            @if(canUploadPaperFiles) {
              <div>
                Momentan nu participați în această sesiune de finalizare a studiilor. <br>
                Vă puteți înscrie până la <b>{{ sessionSettings.paperSubmissionEndDate | date:"dd.MM.yyyy" }}.</b>
              </div>
            } @else {
              <div>
                Nu v-ați înscris în această sesiune. <br>
                Termenul limită de înscriere a trecut.
              </div>
            }
          } @else {
            <div>
              Sunteți înscris în această sesiune de finalizare a studiilor.
            </div>
          }
        </div>
        <div class="tip-card-action">
          @if(!paper.submitted && canUploadPaperFiles) {
            <button mat-button (click)="submitPaper(true)">Înscriere</button>
          }
          @if(paper.submitted && canUploadPaperFiles && paper.isValid == null) {
            <button mat-button (click)="submitPaper(false)">Retragere</button>
          }
        </div>
      </div>
    }

    @if(!submissionStarted) {
      <div class="tip-card">
        <mat-icon class="tip-icon">info</mat-icon>
        <div class="tip-card-content">
          Veți putea începe încărcarea documentelor pe
          {{ sessionSettings.fileSubmissionStartDate | date:"dd.MM.yyyy" }}.
        </div>
      </div>
    } @else if(paper.isValid === null) {
      @if(isWaitingForDocumentGeneration) {
        <div class="tip-card isGenerating">
          <div class="tip-card-content">
            Se generează documentele...
          </div>
          <mat-progress-bar mode="query" color="primary"></mat-progress-bar>
        </div>
      } @else if(hasReuploadRequests) {
        <div class="tip-card warning">
          <mat-icon class="tip-icon">warning_amber</mat-icon>
          <div class="tip-card-content">
            Secretariatul a cerut reîncărcarea unor documente.
          </div>
        </div>
      } @else if(deadlinePassed) {
        <div class="tip-card severe">
          <mat-icon class="tip-icon">priority_high</mat-icon>
          <div class="tip-card-content">
            Perioada de încărcare a documententelor s-a încheiat. <br>
            Nu ați încărcat documentele la timp.
          </div>
        </div>
      } @else if(!studentExtraData) {
        <div class="tip-card warning">
          <mat-icon class="tip-icon">warning_amber</mat-icon>
          <div class="tip-card-content">
            Pentru a genera documentele de la dosar, este necesar să completați date suplimentare.
          </div>
          <div class="tip-card-action">
            <button mat-button (click)="editStudentExtraData()">
              Completați
            </button>
          </div>
        </div>
      } @else {
        <div class="tip-card" [class.success]="areDocumentsUploaded">
          <mat-icon class="tip-icon">
            {{ areDocumentsUploaded ? 'done_all' : 'done' }}
          </mat-icon>
          <div class="tip-card-content">
            @if(!areDocumentsUploaded) {
              <span>Documente generate. Aveți documente de completat.</span>
            } @else {
              <span>Ați încărcat toate documentele. </span>
              @if(paper.committee) {
                <span>Lucrarea dvs. a fost atribuită la {{ paper.committee.name }}.</span>
              }
            }
          </div>
          <div class="tip-card-action">
            @if(canUploadSecretaryFiles) {
              <button mat-button (click)="editStudentExtraData()">
                Modificați datele
              </button>
            }
          </div>
        </div>
      }
    }

    @if(paper.isValid === true) {
      @if(paper.committee?.finalGrades) {
        <div class="tip-card success">
          <mat-icon class="tip-icon">star</mat-icon>
          <div class="tip-card-content">
            Ați obținut nota {{ paper.gradeAverage | number:"1.2-2" }}.
          </div>
        </div>
      } @else {
        <div class="tip-card success">
          <mat-icon class="tip-icon">done_all</mat-icon>
          <div class="tip-card-content">
            @if(paper.committee) {
              <span>
                Lucrarea dvs. a fost validată de către secretariat și atribuită la {{ paper.committee.name }}.
              </span>
            } @else {
              <span>
                Lucrarea dvs. a fost validată de către secretariat.
              </span>
            }
          </div>
        </div>
      }
    }

    @if(paper.isValid === false) {
      <div class="tip-card severe">
        <mat-icon class="tip-icon">priority_high</mat-icon>
        <div class="tip-card-content">
          Lucrarea dvs. a fost invalidată de către secretariat.
        </div>
      </div>
    }

    <div class="document-list">
      <div mat-subheader>Documente</div>
      @if(!isLoadingInitialData) {
        <app-paper-document-list
          [paperId]="paper.id"
          [requiredDocuments]="requiredDocuments"
          [documents]="paper.documents"
          [documentReuploadRequests]="documentReuploadRequests"
          [sessionSettings]="sessionSettings"
          perspective="student"
          [canEdit]="paper.isValid == null"
          (documentEvents)="handleDocumentEvents($event)"
          (areDocumentsUploaded)="handleAreDocumentsUploaded($event)"
          (reuploadRequestsResolved)="handleReuploadRequestsResolved($event)"
        />
      }
    </div>
  </mat-card>
}
