:host {
  display: block;
  padding: 0 16px;
  height: 100%;
}

.toggle-theme-button {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
}

.page-container {
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-form-field {
  width: 100%;
}

.form-container {
  padding: 12px 16px;
}

.logo {
  margin: 16px;

  img {
    width: 100%;
  }
}

h2 {
  text-align: center;
}

.divider {
  margin: 24px 0;
  border-top: 1px solid var(--mat-sys-outline-variant);
}

.login-container {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 430px;
  background: var(--mat-sys-surface);
  box-shadow: var(--mat-sys-level3);
}

.footer {
  color: var(--mat-sys-on-surface-variant);
  text-align: center;
  max-width: 430px;
  margin-top: 16px;

  app-problem-report-button {
    margin-top: 8px;
    display: block;
  }

  span {
    display: inline-block;
  }

}
