:host {
  display: block;
  position: relative;
}

.document-list-header {
  font-size: 14px;
  margin-top: 12px;
}

.document-list {
  background-color: var(--mat-sys-surface-variant);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .document-item {
    background-color: var(--mat-sys-surface);
    border-radius: 8px;
    padding: 8px 12px;

    .checkbox {
      display: flex;
      align-items: center;
      height: 48px;
    }
  }
}

mat-form-field {
  width: 100%;
}

.hint-link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
