.result-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
  color: var(--mat-sys-on-surface);

  .result-item {
    display: flex;
    align-items: center;

    mat-icon {
      user-select: none;
    }

    .label {
      margin-left: 6px;
    }
  }
}
