:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {

    .toolbar {
      display: flex;
      align-items: center;
      height: 56px;
      padding: 0 12px;
    }

    .filter-editor {
      border-top: 1px solid var(--mat-sys-outline-variant);
    }
  }

  .logs-container {
    border-top: 1px solid var(--mat-sys-outline-variant);
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .header-toolbar {
      display: flex;
      align-items: center;
      height: 32px;
      padding: 0 12px;
      font-size: 11px;
      border-bottom: 1px solid var(--mat-sys-outline-variant);
    }

    .table-header {
      height: 24px;
      display: flex;
      align-items: center;
      background-color: var(--mat-sys-surface-variant);
      font-size: 8.5px;
      text-transform: uppercase;
      color: var(--mat-sys-on-surface-variant);

      > div {
        padding: 0 4px;
        box-sizing: border-box;
      }

      > div:not(:first-child) {
        border-left: 1px solid var(--mat-sys-outline-variant);
      }

      .severity {
        flex: 0 0 54px;
      }

      .timestamp {
        flex: 0 0 150px;
      }

      .summary {
        flex-grow: 1;
      }
    }

    .results {
      overflow: auto;
      flex: 1;
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      text-align: center;

      &:not(:empty) {
        margin: 12px 0;
      }
    }
  }
}
