<table mat-table [dataSource]="submissionGrade().parts" #table>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Probă</th>
    <td mat-cell *matCellDef="let row">{{ row.title }}</td>
    <td mat-footer-cell *matFooterCellDef><b>Medie</b></td>
  </ng-container>

  <ng-container matColumnDef="grade">
    <th mat-header-cell *matHeaderCellDef>Notă obținută</th>
    <td mat-cell *matCellDef="let row">
      @if(row.grade === undefined) {
        -
      } @else if(row.grade === null || row.grade === 0) {
        Absent
      } @else {
        {{ row.grade | fixed }}
      }
    </td>
    <td mat-footer-cell *matFooterCellDef>
      @if(submissionGrade().average === undefined) {
        <b>-</b>
      } @else if(submissionGrade().average == null) {
        <b>Absent</b>
      } @else {
        <b>{{ submissionGrade().average | fixed }}</b>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="minGrade">
    <th mat-header-cell *matHeaderCellDef>Notă minimă</th>
    <td mat-cell *matCellDef="let row">≥ {{ row.minGrade }}</td>
    <td mat-footer-cell *matFooterCellDef><b>≥ 6</b></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.error]="row.grade !== undefined && row.grade < row.minGrade"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns" [class.error]="submissionGrade().isPromoted === false"></tr>

</table>
