mat-toolbar {
  background-color: inherit;

  .toolbar-spacer {
    flex: 1 1 auto;
  }
}


.results {
  padding: 1rem;
}

.offer-card {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 16px;
  overflow: hidden;

  .offer-card-header {
    display: flex;

    .header-content {
      flex: 1;

      .offer-topics {
        margin-top: 4px;
      }
    }
  }

  .offer-card-footer {
    border-top: 1px solid var(--mat-sys-outline-variant);
  }
}

.card-action {
  display: flex;
  height: 48px;
  align-items: center;
  padding: 0 16px;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
  color: inherit;


  &:hover {
    background-color: var(--mat-sys-secondary-container);
    color: var(--mat-sys-on-secondary-container);
  }

  span {
    flex: 1;
  }
}

.offer-topics {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  .badge {
    margin: 0px!important;
  }
}
