:host {
  display: block;
  position: relative;
}

mat-form-field {
  width: 100%;
}

.topic-list {
  max-height: 20vh;
  overflow: auto;
  margin-bottom: 16px;

  .topic {
    padding: 12px 8px;
    background: var(--mat-sys-surface-variant);
    color: var(--mat-sys-on-surface-variant);
    border-radius: 4px;
    margin-bottom: 8px;
  }
}
