@if (isLoading) {
  <app-loading class="in-dialog"></app-loading>
}

<h2 mat-dialog-title>Ștergeți temele?</h2>
<mat-dialog-content class="mat-typography">
  <p>Ați selectat pentru ștergere următoarele teme:</p>
  <div class="topic-list">
    @for (topic of topicsToDelete; track topic) {
      <div class="topic">
        {{ topic.name }}
      </div>
    }
  </div>
  @if(needsMove) {
    <p>Este nevoie să transferați ofertele și lucrările către altă temă.</p>
    <form [formGroup]="deleteTopicForm">
      <mat-form-field appearance="outline">
        <mat-label>Mutați în</mat-label>
        <mat-select formControlName="moveTo">
          @for (topic of remainingTopics; track topic) {
            <mat-option [value]="topic.id">{{ topic.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Anulați</button>
  <button mat-button color="warn" (click)="deleteTopics()" [disabled]="needsMove && deleteTopicForm.invalid">Ștergeți</button>
</mat-dialog-actions>
