:host {
    padding: 16px;
    display: block;
}

table {
    width: 100%;
}

.detail-row {
    height: 0px;
}

.paper-detail {
    overflow: hidden;
    .paper-header {
        display: flex;
        margin-top: 12px;
        .paper-description {
            flex: 1;
            color: #616161;
        }
    }

    .paper-actions {
        margin-top: 16px;
    }

    .document-list {
        padding-top: 8px;
        margin: 0 -16px;
    }
}

.paper-row td {
    border-bottom-width: 0;
}

tr.paper-row:not(.expanded-row):hover {
    background: whitesmoke;
}
  
tr.paper-row:not(.expanded-row):active {
    background: #efefef;
}

.table-filters {
    ::ng-deep mat-form-field .mat-form-field-wrapper {
        margin: 0!important;
        padding: 0!important;
    }
}