table {
  width: 100%;
}

.detail-row {
  height: 0px;
}

.paper-detail {
  overflow: hidden;

  .paper-header {
    display: flex;
    margin-top: 12px;

    .paper-description {
      flex: 1;
      color: var(--mat-sys-on-surface-variant);
    }
  }

  .paper-actions {
    margin-top: 16px;

    .validation-result {
      display: flex;
      align-items: center;

      mat-icon {
        margin-right: 8px;
      }
    }
  }

  .document-list {
    padding-top: 8px;
  }
}

.paper-row td {
  border-bottom-width: 0;
}

tr.paper-row:not(.expanded-row):hover {
  background: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
}

tr.paper-row:not(.expanded-row):active {
  background: var(--mat-sys-surface-variant);
}
