:host {
  display: block;
  font-size: 11px;
  position: relative;
  --ngx-json-string: var(--mat-sys-on-surface);
  --ngx-json-key: var(--mat-sys-on-surface-variant);
  --ngx-json-font-size: 11px;
  -webkit-tap-highlight-color: transparent;

  &:not(:last-child) {
    border-bottom: 1px solid var(--mat-sys-outline-variant);
  }

  &.expanded::before {
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    background: color-mix(in srgb, var(--mat-sys-primary-container) 42%, transparent);
  }
}

.log-row {
  min-height: 24px;
  display: flex;
  font-size: 11px;
  font-family: monospace;
  cursor: pointer;

  &:hover {
    background: color-mix(in srgb, var(--mat-sys-primary-container) 42%, transparent);
  }

  &.expanded {
    background: var(--mat-sys-primary-container);
    border-bottom: 1px solid var(--mat-sys-outline-variant);
  }

  .severity {
    flex: 0 0 54px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
    }
  }

  .timestamp {
    padding: 0 8px;
    flex: 0 0 150px;
    box-sizing: border-box;
    line-height: 24px;
    white-space: nowrap;
  }

  .summary {
    flex-grow: 1;
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    line-height: 18px;
    padding: 2px 8px;
  }
}

.log-detail {
  .json-container {
    padding-left: 16px;
  }
}

.resource-field {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  box-sizing: border-box;
  height: 18px;
  padding: 0 6px;
  background-color: var(--mat-sys-surface-variant);
  color: var(--mat-sys-on-surface-variant);
  border-radius: 8px;
  max-width: 210px;

  mat-icon {
    font-size: 14px;
    width: 14px;
    height: 14px;
    min-width: 14px;
  }

  span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.small-icon-button {
  width: 24px !important;
  height: 24px !important;
  padding: 0px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role=img] {
     width: 16px;
     height: 16px;
     font-size: 16px;

     svg {
        width: 16px;
        height: 16px;
     }
  }

  .mat-mdc-button-touch-target {
     width: 24px !important;
     height: 24px !important;
  }
}
