@if(isLoadingQuery) {
  <app-loading class="in-dialog" color="primary"></app-loading>
}
<h2 mat-dialog-title>Adăugați o lucrare</h2>

<mat-dialog-content>
  <mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="paperForm">
      <form [formGroup]="paperForm" fxLayout="row grid" fxLayoutGap="10px grid">
        <ng-template matStepLabel>Completați detaliile lucrării</ng-template>
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Titlu</mat-label>
          <input type="text" matInput formControlName="title" />
          <mat-error>Titlul trebuie să fie de lungime între 3 și 256 caractere.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Descriere</mat-label>
          <textarea matInput type="text" formControlName="description"></textarea>
          <mat-error>Descrierea trebuie să fie de lungime între 64 și 1024 caractere.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Teme lucrare *</mat-label>
          <mat-chip-grid #chipList aria-label="Selectare teme">
            @for(topic of selectedTopics; track $index) {
              <mat-chip [removable]="true" (removed)="removeTopic(topic)">
                {{topic.name}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
            }
            <input
              placeholder="Temă nouă..."
              #topicInput
              formControlName="topics"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="addTopic($event)"
              (blur)="handleTopicBlur($event, topicInput.value)"
            />
          </mat-chip-grid>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTopic($event)">
            @for(topic of filteredTopics | async; track topic.id) {
              <mat-option [value]="topic" tabIndex="1">
                {{ topic.name }}
              </mat-option>
            }
          </mat-autocomplete>
          <mat-hint>Adăugați o temă înscriind numele și apăsând <b>Virgulă</b> sau <b>Enter.</b></mat-hint>
        </mat-form-field>
        <div class="actions">
          <button mat-button matStepperNext [disabled]="paperForm.invalid">Pasul următor</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="findStudentForm">
      <div class="filter-by">Filtrați după</div>
      <form [formGroup]="findStudentForm" fxLayout="row grid" fxLayoutGap="10px grid">
        <ng-template matStepLabel>Alegeți studentul</ng-template>
        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50">
          <mat-label>Nume de familie</mat-label>
          <input type="text" matInput formControlName="lastName" />
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50">
          <mat-label>Prenume</mat-label>
          <input type="text" matInput formControlName="firstName" />
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50">
          <mat-label>E-mail</mat-label>
          <input type="email" matInput formControlName="email" name="studentEmail rpd" />
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50">
          <mat-label>Domeniu</mat-label>
          <mat-select formControlName="domainId">
            <mat-option [value]="null">--</mat-option>
            @for(domain of domains | async; track domain.id) {
              <mat-option [value]="domain.id">
                {{domain.name}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div class="student-scroll" fxFlex="100">

          @if(isLoadingUsers) {
            <app-loading color="primary"></app-loading>
          }
          <mat-selection-list [multiple]="false" formControlName="studentId">
            @for(user of userResults; track user.id) {
              <mat-list-option [disabled]="!!user.student.paper" [value]="user.id">
                <h3 matListItemTitle>{{ user.firstName }} {{ user.lastName }}</h3>
                <b matListItemLine>{{ user.email }}</b>
                @if(!user.student.paper) {
                  <div matListItemLine>
                    <span>Grupa {{ user.student.group }}, </span>
                    <span>Specializarea {{ user.student.specialization?.name }}</span>
                  </div>
                } @else {
                  <div matListItemLine>
                    <i>Este deja asociat.</i>
                  </div>
                }
              </mat-list-option>
            }
          </mat-selection-list>
        </div>
        <div class="actions">
          <button mat-button matStepperNext [disabled]="findStudentForm.invalid">Pasul următor</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Vedeți rezultatul</ng-template>
      <div class="paper-snippet mat-elevation-z1">
        <h2>{{ resultedPaper.title }}</h2>
        @if(resultedPaper?.user) {
          <p class="paper-type">
            Lucrare de {{ PAPER_TYPES[resultedPaper.user.student.domain.paperType] }}
          </p>
        }
        <p class="paper-description">
          {{ resultedPaper.description }}
        </p>
        <p class="paper-topics">
          @for(topic of selectedTopics; track $index) {
            <span class="badge">{{ topic.name }}</span>
          }
        </p>
        @if(resultedPaper?.user) {
          <app-user-snippet [user]="$any(resultedPaper).user">Student</app-user-snippet>
        }
      </div>

      <div fxLayoutAlign="end" class="dialog-buttons">
        <button mat-button mat-dialog-close>Anulați</button>
        <button mat-raised-button color="primary" (click)="savePaper()">Salvați</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</mat-dialog-content>
