:host {
  position: relative;
  display: block;
}

mat-dialog-content {
  padding: 0!important;
}

form {
  margin-top: 16px!important;
  .actions {
    margin-bottom: -16px;
  }
}

.filter-by {
  color: var(--mat-sys-on-surface-variant);
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: -8px;
}

.student-scroll {
  height: 200px;
  overflow: scroll;
  border: 1px solid var(--mat-sys-outline-variant);
  padding: 0!important;
  position: relative;
  margin-bottom: 16px;
}

.paper-snippet {
  margin-top: 8px;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 16px;

  h2 {
    margin-bottom: 0px;
  }

  .paper-description {
    color: var(--mat-sys-on-surface-variant);
  }
}

.dialog-buttons {
  margin-bottom: -16px;
  button + button {
    margin-left: 8px;
  }
}
