@if (isLoading) {
  <app-loading class="loading-container"></app-loading>
}

@if (data.mode == 'create') {
  <h2 mat-dialog-title>Adăugați temă</h2>
}
@if (data.mode == 'edit') {
  <h2 mat-dialog-title>Editați temă</h2>
}
@if (data.mode == 'delete') {
  <h2 mat-dialog-title>Ștergeți tema?</h2>
}

@if (data.mode == 'edit' || data.mode == 'create') {
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="editTopicForm">
      <mat-form-field appearance="outline">
        <mat-label>Nume temă</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>
    </form>
  </mat-dialog-content>
}
@if (data.mode == 'delete') {
  <mat-dialog-content class="mat-typography">
    <p>Ștergeți tema {{ data.topic.name }}?</p>
    @if(needsMove) {
      <p>Este nevoie să transferați ofertele și lucrările către altă temă.</p>
      <form [formGroup]="deleteTopicForm">
        <mat-form-field appearance="outline">
          <mat-label>Mutați în</mat-label>
          <mat-select formControlName="moveTo">
            @for (topic of remainingTopics; track topic) {
              <mat-option [value]="topic.id">{{ topic.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </form>
    }
  </mat-dialog-content>
}

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Anulați</button>
  @if (data.mode == 'create') {
    <button mat-button (click)="addTopic()" [disabled]="editTopicForm.invalid">Adăugați</button>
  }
  @if (data.mode == 'edit') {
    <button mat-button (click)="editTopic()" [disabled]="editTopicForm.invalid">Salvați</button>
  }
  @if (data.mode == 'delete') {
    <button mat-button (click)="deleteTopic()" [disabled]="needsMove && deleteTopicForm.invalid">Ștergeți</button>
  }
</mat-dialog-actions>
