.document-item {
  display: flex;
  align-items: center;
  padding: 12px;
  box-sizing: border-box;
  min-height: 72px;
  font-size: 14px;

  .icon {
    width: 24px;
    height: 24px;
    display: flex;
    margin-right: 12px;
  }

  .content {
    flex: 1;

    .title {
      font-size: 16px;
    }
  }

  .left-button {
    margin-right: 4px;
  }
}

.reupload-request-notice {
  color: var(--warn);
}

.upload-request-notice {

  span, mat-icon {
    vertical-align: middle;
  }

  mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-left: 4px;
  }
}
