@for(document of requiredDocuments; track document.name) {
  <div class="document-item">
    <div class="icon">
      @if(!documentMap[document.name].actionPending) {
        <mat-icon>description</mat-icon>
      } @else {
        <mat-spinner diameter="24"></mat-spinner>
      }
    </div>
    <div class="content">
      <div class="title">{{ document.title }}</div>
      <div>
        @if(documentMap[document.name].reuploadRequest) {
          <div class="reupload-request-notice">
            <span>
              Reîncărcare solicitată până pe {{ documentMap[document.name].reuploadRequest.deadline | date:"dd.MM.yyyy" }}
            </span>
            @if(documentMap[document.name].reuploadRequest.comment) {
              <mat-icon [matTooltip]="documentMap[document.name].reuploadRequest.comment">comment</mat-icon>
            }
          </div>
        } @else {
          @if(documentMap[document.name].nextAction == null || documentMap[document.name].nextAction == 'upload') {
            <span>
              Document lipsă
              @if(documentMap[document.name].uploadBy != perspective) {
                <span>
                  | Se încarcă de către {{ USER_TYPES[documentMap[document.name].uploadBy] }}
                </span>
              }
            </span>
          }
          @if(documentMap[document.name].nextAction == 'sign') {
            <span>Necesită semnătură</span>
          }
          @if(documentMap[document.name].nextAction == 'view') {
            @if(documentMap[document.name].actualTypes.generated && !documentMap[document.name].requiredTypes.signed) {
              <span>Document generat</span>
            }
            @if(documentMap[document.name].actualTypes.signed) {
              <span>Document semnat</span>
            }
            @if(documentMap[document.name].actualTypes.copy) {
              <span>Document încărcat</span>
            }
          }
        }
      </div>
    </div>
    @if(documentMap[document.name].nextAction == 'view' && documentMap[document.name].uploadBy == perspective) {
      <button
        class="left-button"
        mat-icon-button
        matTooltip="Ștergeți documentul"
        (click)="deleteDocument(documentMap[document.name])"
        [disabled]="documentMap[document.name].actionPending || !documentMap[document.name].canChange"
      >
        <mat-icon>history</mat-icon>
      </button>
    }
    @switch (documentMap[document.name].nextAction) {
      @case ('view') {
        <button
          mat-stroked-button
          (click)="viewDocument(documentMap[document.name])"
          [disabled]="documentMap[document.name].actionPending"
        >
          Vizualizați
        </button>
      }
      @case ('sign') {
        <button
          mat-stroked-button
          (click)="signDocument(documentMap[document.name])"
          [disabled]="documentMap[document.name].actionPending || !documentMap[document.name].canChange"
        >
          Semnați
        </button>
      }
      @case ('upload') {
        <button
          mat-stroked-button
          (click)="openDocumentDialog('uploadCopy', document.name)"
          [disabled]="documentMap[document.name].actionPending || !documentMap[document.name].canChange"
        >
          Încărcați
        </button>
      }
    }
    @if(perspective == 'admin' && canEdit) {
      <button
        mat-icon-button
        [matMenuTriggerFor]="moreMenu"
        [matMenuTriggerData]="{ document: documentMap[document.name] }"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    }
  </div>
}

<mat-menu #moreMenu="matMenu">
  <ng-template matMenuContent let-document="document">
    <button mat-menu-item (click)="reuploadDocument(document)">
      <mat-icon>upload</mat-icon>
      <span>Reîncărcați documentul</span>
    </button>
    @if(document.reuploadRequest) {
      <button mat-menu-item (click)="reuploadRequest.emit({ document, reuploadRequested: false })">
        <mat-icon>cancel</mat-icon>
        <span>Anulați solicitarea de reîncărcare</span>
      </button>
    } @else {
      <button mat-menu-item (click)="reuploadRequest.emit({ document, reuploadRequested: true })">
        <mat-icon>file_present</mat-icon>
        <span>Solicitați reîncărcarea</span>
      </button>
    }
  </ng-template>
</mat-menu>
