<mat-menu #menu="matMenu">
  <div (click)="$event.stopPropagation()" class="committee-card">
    <div class="committee-card-header">
      <div class="profile-picture">
        <mat-icon>group</mat-icon>
      </div>
      <div class="header-text">
        <h2>{{ committee().name }}</h2>
      </div>
    </div>
    <div class="list">
      @if(paper()) {
        <div class="list-item">
          <mat-icon>event</mat-icon>
          <div class="content">
            <div>Programarea lucrării dvs.</div>
            <div>
              @if(paper().scheduledGrading) {
                {{ paper().scheduledGrading | datetime }} - Timp alocat {{ committee().paperPresentationTime }} min.
              } @else {
                TBA
              }
            </div>
          </div>
        </div>
      }
      @if(sortedDays().length > 0) {
        <div class="list-header">Zile de activitate</div>
        @for(day of sortedDays(); track day.id) {
          <div class="list-item">
            <mat-icon>event</mat-icon>
            <div class="content">
              <div>{{ day.startTime | datetime }}</div>
              <div>{{ day.location }}</div>
            </div>
          </div>
        }
      }
      <div class="list-header">Membri</div>
      @for(member of committee().members; track member.user.id) {
        <div class="list-item">
          <mat-icon>school</mat-icon>
          <div class="content">
            <div>{{ roles[member.committeeMember.role] }}</div>
            <div>{{ member.user.fullName }}</div>
            <div>
              <a class="link" href="mailto:{{ member.user.email }}" target="_blank">
                {{ member.user.email }}
              </a>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</mat-menu>

<div class="committee-snippet" [matMenuTriggerFor]="menu">
  <div class="profile-picture">
    <mat-icon>group</mat-icon>
  </div>
  <div class="text">
    <div class="first-line">{{ committee().name }}</div>
    <div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
