@if(isLoadingCommittees) {
  <app-loading color="primary"></app-loading>
}

<div fxLayout="row grid" fxLayoutGap="10px grid">
  @for(committee of committees; track committee.id) {
    <div fxFlex="100" fxFlex.gt-xs="50">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ committee.name }}</mat-card-title>
          <mat-card-subtitle>
            {{ committee.papers.length }}
            {{ committee.papers.length == 1 ? 'lucrare' : 'lucrări' }}
          </mat-card-subtitle>
        </mat-card-header>
        <div class="list">
          <div class="list-item">
            <div class="content">
              <div>Domenii</div>
              <div>{{ committee.domains | pluck:'name' | join }}</div>
            </div>
          </div>
          @if(committee.activityDays.length > 0) {
            <div class="list-item">
              <div class="content">
                <div>Zile de activitate</div>
                <div>
                  @for(day of committee.activityDays; track day.id) {
                    <div>{{ day.location }} | {{ day.startTime | datetime }}</div>
                  }
                </div>
              </div>
            </div>
          }
          <div class="list-item">
            <div class="content">
              <div>Membri</div>
              <div>
                @for(member of committee.members; track member.teacherId) {
                  <div>
                    {{ member.teacher.lastName }} {{ member.teacher.firstName }} - {{ COMMITTEE_MEMBER_ROLE[member.role] }}
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary" [routerLink]="[committee.id]">
            <span>Lucrări </span>
            <mat-icon>navigate_next</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  }
</div>

@if(!isLoadingCommittees && committees.length == 0) {
  <div class="no-results-container">
    <mat-icon class="hero-icon">cloud</mat-icon>
    <h2>Nu sunteți membru în nicio comisie.</h2>
  </div>
}
