.header {
  color: var(--mat-sys-on-surface);
  padding: 12px 24px;
  padding-bottom: 0;

  .title {
    margin-bottom: 4px;
  }
}

p {
  color: var(--mat-sys-on-surface-variant);
}

.document-button {
  margin-bottom: 12px;
}

.download-generated-container {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
