.header {
  padding: 24px;
  padding-bottom: 0;

  .title {
    margin-bottom: 4px;
  }
}

p {
  color: #121;
}

.document-button {
  margin-bottom: 12px;
}

.download-generated-container {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
