<div class="header">
  <h2 class="title">Încărcați documentul</h2>
  <h3 class="subtitle">{{ data.document.title }}</h3>
</div>

<mat-dialog-content class="mat-typography">
  <p>
    Fișiere acceptate:
    {{ acceptedExtensions }}
  </p>
  @if(!isUploadingFile) {
    <button
      class="document-button"
      mat-stroked-button
      appUploadFile
      [accept]="data.document.acceptedMimeTypes"
      (file)="handleFileInput($event)"
    >
      <mat-icon>cloud_upload</mat-icon>
      <span>Încărcați documentul</span>
    </button>
  } @else {
    <mat-spinner [diameter]="36"></mat-spinner>
  }
</mat-dialog-content>
