<mat-menu #teacherMenu="matMenu">
  <ng-template matMenuContent let-teacher="teacher">
    <button mat-menu-item (click)="editTeacher(teacher)">
      <mat-icon>mode</mat-icon>
      <span>Editați profesorul</span>
    </button>
    <button mat-menu-item (click)="deleteTeacher(teacher)">
      <mat-icon>delete</mat-icon>
      <span>Ștergeți profesorul</span>
    </button>
    <button mat-menu-item (click)="resendActivationCode(teacher.id)">
      <mat-icon>token</mat-icon>
      <span>Retrimiteți e-mail activare</span>
    </button>
    <button mat-menu-item (click)="impersonateTeacher(teacher.id)">
      <mat-icon>people</mat-icon>
      <span>Impersonare</span>
    </button>
  </ng-template>
</mat-menu>

<div class="table-container full-height">
  <mat-toolbar>
    <button fxHide.lt-sm matButton="filled" (click)="addTeacher()">Adăugați profesor</button>
    <button fxHide fxShow.lt-sm mat-mini-fab color="primary" (click)="addTeacher()">
      <mat-icon>add</mat-icon>
    </button>
    <button matButton="tonal" (click)="bulkAddTeachers()">Adăugați din .CSV</button>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button (click)="refreshResults()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleFilters()" [class.active]="showFilters">
      <mat-icon>filter_list</mat-icon>
    </button>
  </mat-toolbar>
  @if (showFilters) {
    <div class="table-filters">
      <div class="filter-header">
        <span class="text">Filtrați după</span>
        <button mat-button (click)="resetFilters()">Resetați</button>
      </div>
      <form autocomplete="off" fxLayout="row grid" fxLayoutGap="10px grid">
        <ng-container [formGroup]="teacherFilterDebounced">
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Nume</mat-label>
            <input matInput type="text" formControlName="lastName" name="teacher_last_name" autocomplete="off" />
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Prenume</mat-label>
            <input matInput type="text" formControlName="firstName" name="teacher_first_name" autocomplete="off" />
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>E-mail</mat-label>
            <input matInput type="text" formControlName="email" name="student_email" autocomplete="off" />
          </mat-form-field>
        </ng-container>
        <ng-container [formGroup]="teacherFilter">
          <mat-checkbox formControlName="onlyMissingPlagiarismReports" fxFlex="100">
            Doar profesori cu referate lipsă
          </mat-checkbox>
        </ng-container>
      </form>
    </div>
  }
  <div class="discrete-scroll">
    <table
      mat-table
      [dataSource]="resolverData.rows"
      matSort
      matSortDisableClear
      [matSortActive]="resolverData.params.sortBy || 'id'"
      [matSortDirection]="resolverData.params.sortDirection || 'asc'"
    >
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          @if (!row.validated) {
            <mat-icon class="status-icon warn" matTooltip="Cont neactivat">
              pending
            </mat-icon>
          }
          @if (row.validated) {
            <mat-icon class="status-icon done" matTooltip="Cont activat">
              verified_user
            </mat-icon>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nume </th>
        <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prenume </th>
        <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

      <ng-container matColumnDef="offerCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Număr oferte </th>
        <td mat-cell *matCellDef="let row"> {{row.offerCount}} </td>
      </ng-container>

      <ng-container matColumnDef="paperCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Număr lucrări </th>
        <td mat-cell *matCellDef="let row"> {{row.paperCount}} </td>
      </ng-container>

      <ng-container matColumnDef="plagiarismReportCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Referate încărcate / Lucrări înscrise </th>
        <td mat-cell *matCellDef="let row"> {{row.plagiarismReportCount}} / {{row.submittedPaperCount}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acțiuni</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="viewTeacher(element)">
            <mat-icon>visibility</mat-icon>
          </button>

          <button mat-icon-button [matMenuTriggerFor]="teacherMenu" [matMenuTriggerData]="{teacher: element}">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-mdc-row mdc-data-table__row" *matNoDataRow>
        <td class="mat-mdc-cell mdc-data-table__cell" colspan="1000">
          Nu există profesori.
        </td>
      </tr>
    </table>
  </div>

  <mat-paginator
    [pageSize]="resolverData.pageSize"
    [pageIndex]="resolverData.page"
    [length]="resolverData.count"
    [pageSizeOptions]="resolverData.pageSizes"
  />
</div>
