table {
    width: 100%;
    overflow-x: auto;
}

td, th {
    width: auto;
}

tr th:last-child, tr td:last-child {
    width: 80px;
}

.container {
    padding: 16px 12px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

mat-toolbar button[mat-raised-button] {
    margin: 0 8px;
}