:host {
    display: block;
    padding: 0 16px;
    height: 100%;
}

mat-form-field {
    width: 100%;
}

.form-container {
    padding: 12px 16px;
}

.logo {
    margin: 16px;
    img {
        width: 100%;
    }
}

.divider {
    margin: 24px 0;
}

.login-container {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    max-width: 430px;
}