<app-loading *ngIf="isLoading" class="loading-container"></app-loading>

<h2 mat-dialog-title *ngIf="data.mode == 'create'">Adăugați domeniu</h2>
<h2 mat-dialog-title *ngIf="data.mode == 'edit'">Editați domeniul</h2>
<h2 mat-dialog-title *ngIf="data.mode == 'delete'">Ștergeți domeniul?</h2>

<mat-dialog-content class="mat-typography" *ngIf="data.mode == 'edit' || data.mode == 'create'">
    <form [formGroup]="editDomainForm">
        <mat-form-field appearance="outline">
            <mat-label>Nume domeniu</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Tip</mat-label>
            <mat-select formControlName="type">
                <mat-option value="bachelor">Licență</mat-option>
                <mat-option value="master">Master</mat-option>
            </mat-select>
        </mat-form-field>
        <div formArrayName="specializations">
            <h3>Specializări</h3>
            <div *ngFor="let specialization of formSpecializations.controls; let i = index">
                <div [formGroupName]="i" class="specialization-row">
                    <mat-form-field appearance="outline">
                        <mat-label>Nume specializare</mat-label>
                        <input matInput type="text" formControlName="name">
                    </mat-form-field>
                    <div [matTooltip]="specialization.get('studentNumber')?.value > 0 ? 'Mutați întâi studenții la altă specializare' : 'Ștergeți specializarea'">
                        <button mat-icon-button (click)="removeSpecialization(i)"
                            [disabled]="specialization.get('studentNumber')?.value > 0">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <button mat-raised-button (click)="addSpecialization()">Adăugați o specializare</button>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-content class="mat-typography" *ngIf="data.mode == 'delete'">
    <p>Sunteți sigur că doriți să ștergeți acest domeniu?</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Anulați</button>
    <button mat-button (click)="addDomain()" *ngIf="data.mode == 'create'" [disabled]="editDomainForm.invalid">Adăugați</button>
    <button mat-button (click)="editDomain()" *ngIf="data.mode == 'edit'" [disabled]="editDomainForm.invalid">Salvați</button>
    <button mat-button (click)="deleteDomain()" *ngIf="data.mode == 'delete'">Ștergeți</button>
</mat-dialog-actions>