:host {
  position: relative;
  display: block;
}

mat-form-field {
  width: 100%;
}

.loading-container {
  display: block;
  margin: -24px;
  width: calc(100% + 48px);
  height: calc(100% + 24px);
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  z-index: 2;
}

.specialization-card {
  padding: 16px 12px;
  margin-bottom: 16px;

  .delete-button {
    max-width: max-content;
    margin-top: 12px;
  }
}
