:host {
    position: relative;
    display: block;
}

mat-form-field {
    width: 100%;
}

.loading-container {
    display: block;
    margin: -24px;
    width: calc(100% + 48px);
    height: calc(100% + 24px);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    z-index: 2;
}

.specialization-row {
    display: flex;
    align-items: center;

    button {
        margin-bottom: 15px;
    }
}