@if(loading) {
  <div class="flex-container align-center v-align-center fixed">
    <mat-spinner [diameter]="48"></mat-spinner>
  </div>
}

@if(backendDown) {
  <div class="flex-container align-center v-align-center fixed">
    <h2>Platforma este indisponibilă</h2>
    <p>Dacă problema persistă, contactați administratorul.</p>
    <p></p>
    <button matButton="filled" color="primary" (click)="reloadApp()">Reîncercați</button>
  </div>
}
<div [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger"></div>

<mat-menu #userMenu="matMenu" class="account-menu-panel">
  <div class="account-menu-content" (click)="$event.stopPropagation()">
    <div class="email">{{ user?.email }}</div>
    <div class="current-identity">
      <div class="profile-picture">
        @if(!user?.profile?.picture) {
          <mat-icon>person</mat-icon>
        } @else {
          <img [src]="user?.profile.picture | apiUrl" />
        }
      </div>
      <div class="identity-details">
        <div class="first-row">{{ user?.fullName }}</div>
        <div class="second-row">{{ user && getUserDescription(user) }}</div>
      </div>
      <div class="actions">
        <button mat-stroked-button color="primary" (click)="editProfile(); userMenuTrigger.closeMenu()">
          <mat-icon>edit</mat-icon>
          <span>Editați profilul</span>
        </button>
      </div>
    </div>
    <div class="section">
      @for(identity of alternativeIdentities; track identity.id) {
        <app-identity-list-item [user]="identity" (click)="switchUser(identity); userMenuTrigger.closeMenu()" />
      }
      @if(user?._impersonatedBy) {
        <button mat-button (click)="release(); userMenuTrigger.closeMenu()">
          <mat-icon>undo</mat-icon>
          <span>Opriți impersonarea</span>
        </button>
      }
      <button mat-button (click)="signOut(); userMenuTrigger.closeMenu()">
        <mat-icon>logout</mat-icon>
        <span>Deconectare</span>
      </button>
    </div>
  </div>
</mat-menu>

<div class="flex-container fullscreen main-container" [hidden]="loading">
  @if(loadingRoute) {
    <mat-progress-bar class="loading-route-bar" mode="indeterminate"></mat-progress-bar>
  }
  @if(!hideToolbar) {
    <mat-toolbar>
      @if(!hideDrawer) {
        <button mat-icon-button matTooltip="Comutați meniul" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <span class="toolbar-title">{{ title }}</span>
      <span class="toolbar-spacer"></span>
      <button mat-button class="user-preview-container" [matMenuTriggerFor]="userMenu">
        <div class="content">
          @if(user) {
            <div class="user-name" fxHide.lt-sm>
              <div>{{ user.firstName }} {{ user.lastName }}</div>
              @if(isStudent(user)) {
                <div>Gr. {{ user.group }}</div>
              }
            </div>
          }
          <div class="profile-picture">
            @if(!user?.profile?.picture) {
              <mat-icon>person</mat-icon>
            } @else {
              <img [src]="user?.profile.picture | apiUrl" />
            }
          </div>
        </div>
      </button>
    </mat-toolbar>
  }
  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer [mode]="drawerMode" class="main-drawer">
      <div class="scroll-menu">
        <!-- STUDENT -->
        @if(user?.type === 'student') {
          <div class="nav-list">
            <a class="nav-list-item" routerLink="student" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <mat-icon>lightbulb</mat-icon>
              <span>Informații și întrebări</span>
            </a>
          </div>
          @if(!$any(user).paper) {
            <div class="nav-list">
              <a class="nav-list-item" routerLink="student/suggested-teachers" routerLinkActive="active">
                <mat-icon>stars</mat-icon>
                <span>Profesori sugerați</span>
              </a>
              <a class="nav-list-item" routerLink="student/teachers" routerLinkActive="active">
                <mat-icon>school</mat-icon>
                <span>Toți profesorii</span>
              </a>
            </div>
            <div class="nav-list">
              <a class="nav-list-item" routerLink="student/applications/pending" routerLinkActive="active">
                <mat-icon>assignment</mat-icon>
                <span>Cereri în așteptare</span>
              </a>
              <a class="nav-list-item" routerLink="student/applications/declined" routerLinkActive="active">
                <mat-icon>assignment_returned</mat-icon>
                <span>Cereri respinse</span>
              </a>
            </div>
          } @else {
            <div class="nav-list">
              <a class="nav-list-item" routerLink="student/submission" routerLinkActive="active">
                <mat-icon>stars</mat-icon>
                <span>Lucrare și dosar</span>
              </a>
            </div>
          }
        }
        @if(user?.type === 'teacher') {
          <div class="nav-list">
            <a class="nav-list-item" routerLink="teacher" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <mat-icon>lightbulb</mat-icon>
              <span>Informații și întrebări</span>
            </a>
          </div>
          <div class="nav-list">
            <a class="nav-list-item" routerLink="teacher/offers" routerLinkActive="active">
              <mat-icon>stars</mat-icon>
              <span>Ofertele dvs.</span>
            </a>
          </div>
          <div class="nav-list">
            <a class="nav-list-item" routerLink="teacher/applications/pending" routerLinkActive="active">
              <mat-icon>assignment</mat-icon>
              <span>Cereri în așteptare</span>
            </a>
            <a class="nav-list-item" routerLink="teacher/applications/declined" routerLinkActive="active">
              <mat-icon>assignment_returned</mat-icon>
              <span>Cereri respinse</span>
            </a>
          </div>
          <div class="nav-list">
            <a class="nav-list-item" routerLink="teacher/papers" routerLinkActive="active">
              <mat-icon>description</mat-icon>
              <span>Lucrări coordonate</span>
            </a>
          </div>
          <div class="nav-list">
            <a class="nav-list-item" routerLink="teacher/committees" routerLinkActive="active">
              <mat-icon>description</mat-icon>
              <span>Comisii</span>
            </a>
          </div>
        }
        @if(['secretary', 'admin'].includes(user?.type)) {
          <div class="nav-list">
            <a class="nav-list-item" routerLink="admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <mat-icon>home</mat-icon>
              <span>Panou de bord</span>
            </a>
          </div>
          <div class="nav-list">
            <a class="nav-list-item" routerLink="admin/students" routerLinkActive="active">
              <mat-icon>people</mat-icon>
              <span>Listă studenți</span>
            </a>
            @if(user.type === 'admin') {
              <a class="nav-list-item" routerLink="admin/teachers" routerLinkActive="active">
                <mat-icon>school</mat-icon>
                <span>Listă profesori</span>
              </a>
              <a class="nav-list-item" routerLink="admin/admins" routerLinkActive="active">
                <mat-icon>admin_panel_settings</mat-icon>
                <span>Listă administratori și secretari</span>
              </a>
            }
            <a class="nav-list-item" routerLink="admin/sign-up-requests" routerLinkActive="active">
              <mat-icon>pending</mat-icon>
              <span>Cereri înregistrare</span>
            </a>
          </div>
          @if(user.type === 'admin') {
            <div class="nav-list">
              <a class="nav-list-item" routerLink="admin/domains" routerLinkActive="active">
                <mat-icon>category</mat-icon>
                <span>Domenii</span>
              </a>
            </div>
            <div class="nav-list">
              <a class="nav-list-item" routerLink="admin/topics" routerLinkActive="active">
                <mat-icon>topic</mat-icon>
                <span>Teme</span>
              </a>
            </div>
          }
          <div class="nav-list">
            <a class="nav-list-item" routerLink="admin/papers" routerLinkActive="active">
              <mat-icon>description</mat-icon>
              <span>Lucrări</span>
            </a>
            <a class="nav-list-item" routerLink="admin/committees" routerLinkActive="active">
              <mat-icon>group</mat-icon>
              <span>Comisii</span>
            </a>
            @if(sessionSettings.writtenExamDate) {
              <a class="nav-list-item" routerLink="admin/written-exam" routerLinkActive="active">
                <mat-icon>edit</mat-icon>
                <span>Proba scrisă</span>
              </a>
            }
          </div>
          @if(['secretary', 'admin'].includes(user?.type)) {
            <div class="nav-list">
              <a class="nav-list-item" routerLink="admin/reports" routerLinkActive="active">
                <mat-icon>save</mat-icon>
                <span>Rapoarte</span>
              </a>
              @if(user.type === 'admin') {
                <a class="nav-list-item" routerLink="admin/session" routerLinkActive="active">
                  <mat-icon>settings</mat-icon>
                  <span>Setări sesiune de examinare</span>
                </a>
                <a class="nav-list-item" routerLink="admin/logs" routerLinkActive="active">
                  <mat-icon>history</mat-icon>
                  <span>Loguri</span>
                </a>
              }
            </div>
          }
        }
      </div>
      <div class="drawer-footer">
        @defer {
          <app-problem-report-button />
        }
        <button matIconButton matTooltip="Comutați tema" (click)="themeService.toggleTheme()">
          <mat-icon>{{ themeService.isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
        </button>
        <span class="flex-spacer"></span>
        @if(user?.type === 'admin') {
          <em class="app-version">v{{ appVersion }}</em>
        }
      </div>
    </mat-drawer>

    <div class="main-content">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-drawer-container>
</div>
