.main-drawer {
    cursor: default;
    min-width: 280px;
    ::ng-deep .mat-drawer-inner-container {
        display: flex;
        flex-direction: column;
        .scroll-menu {
            flex: 1;
            overflow-y: auto;
        }

        .drawer-footer {
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            padding: 8px;
        }
    }
}

.main-container {
    flex-direction: column;
}

.toolbar-title {
    padding-left: 8px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.user-preview-container {
    height: 100%;
    border-radius: 0px;
    margin-right: -16px;

    .user-name {
        margin-right: 8px;
    }
}

.drawer-container {
    flex: 1;
}

.main-content {
    height: 100%;
    background-color: white;
    overflow: auto;
}

.nav-item {
    text-decoration: none;
    color: inherit;
}

.fixed {
    position: fixed;
    inset: 0 0 0 0;
    z-index: 2;
    background: white;
    flex-direction: column;
}