.main-drawer {
  cursor: default;
  min-width: 280px;

  ::ng-deep .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;

    .scroll-menu {
      flex: 1;
      overflow-y: auto;
    }

    .drawer-footer {
      display: flex;
      border-top: 1px solid rgba(0, 0, 0, 0.08);
      padding: 8px;
      align-items: center;

      .app-version {
        color: #757575;
        user-select: none;
      }
    }
  }
}

.main-container {
  flex-direction: column;
}

.toolbar-title {
  padding-left: 8px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.profile-picture {
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.user-preview-container {
  height: 100%;
  border-radius: 0px;
  margin-right: -16px;
  line-height: 16px;

  .content {
    display: flex;
    align-items: center;
    gap: 8px;

    .user-name {
      display: inline-block;

      :last-child {
        margin-top: 4px;
        color: #444;
      }
    }
  }
}

.account-menu-content {
  padding-top: 16px;
  padding-bottom: 8px;
  .email {
    color: #616161;
    text-align: center;
  }

  .current-identity {
    margin: 24px 0;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-picture {
      width: 92px;
      height: 92px;

      mat-icon {
        width: 64px;
        height: 64px;
        font-size: 64px;
      }
    }

    .identity-details {
      margin: 12px 0;
      padding: 0 12px;
      text-align: center;

      .first-row {
        font-size: 20px;
        font-weight: 500;
      }

      .second-row {
        margin-top: 4px;
        color: #444;
      }
    }
  }

  .section {
    margin: 8px;
    border-radius: 12px;
    overflow: hidden;
    background-color: #f5f5f5;
    > * {
      width: 100%;
      min-height: 56px;
      border-radius: 0;
    }
  }
}

.drawer-container {
  flex: 1;
}

.main-content {
  height: 100%;
  background-color: white;
  overflow: auto;
}

.nav-list {
  padding: 8px 0;
  border-bottom: 1px solid #e0e0e0;

  &:last-of-type, &.nb {
    border-bottom: none;
  }

  .nav-list-item {
    height: 48px;
    box-sizing: border-box;
    padding: 0 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

    mat-icon {
      color: #424242;
    }

    span {
      color: #616161;
      margin-left: 8px;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
    }

    &:hover {
      background: #eeeeee;
    }

    &.active {
      background: #f5f5f5;

      mat-icon, span {
        color: #283593;
      }
    }
  }
}

.fixed {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 2;
  background: white;
  flex-direction: column;
}

.loading-route-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
