:host {
  padding: 16px;
  display: block;
}

app-session-info {
  margin-bottom: 16px;
}

.stat-card {
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--mat-sys-surface-variant);
  padding: 16px;

  .stat-title {
    font-size: 14px;
    color: var(--mat-sys-on-surface-variant);
  }

  .stat-number-container {
    margin-top: 16px;
  }

  .stat-number {
    color: var(--mat-sys-on-surface-variant);
    line-height: 36px;
    font-weight: 300;
    font-size: 36px;
  }

  .stat-extra {
    margin-left: 4px;
    color: var(--mat-sys-on-surface-variant);
  }
}
