<div class="main">
    <mat-progress-bar mode="query" class="progress-bar top" *ngIf="isLoadingTeachers && mode == 'suggested'"></mat-progress-bar>
    
    <div class="tip-card warning" *ngIf="!canApply">
        <mat-icon class="tip-icon">warning_amber</mat-icon>
        <div class="tip-card-content">
            Perioada de depuneri de cereri de asociere s-a încheiat. <br> Nu mai puteți aplica în această sesiune.
        </div>
    </div>

    <mat-card class="filter-container mat-elevation-z3" *ngIf="mode == 'all'">
        <form [formGroup]="filterForm" class="form-group">
            <div class="group-header">{{'STUDENT.TEACHERS_GRID.FILTER_BY' | translate | uppercase}}</div>
            <div class="group-controls">
                <mat-form-field appearance="outline">
                    <mat-label>{{'STUDENT.TEACHERS_GRID.TOPICS' | translate }}</mat-label>
                    <mat-select formControlName="topicIds" multiple>
                        <mat-option *ngFor="let topic of topics" [value]="topic.id">
                            <span>{{topic.name}}</span>
                        </mat-option>
                    </mat-select>
                    <mat-hint class="select-options">
                        <span (click)="setAllTopics()">{{'STUDENT.TEACHERS_GRID.SELECT_ALL' | translate }}</span> |
                        <span (click)="removeTopicSelection()">{{'STUDENT.TEACHERS_GRID.REMOVE_SELECTION' | translate }}</span>
                    </mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="control-flex">
                    <mat-label>{{'STUDENT.TEACHERS_GRID.TEACHER_NAME' | translate }}</mat-label>
                    <input matInput type="text" formControlName="teacherName" />
                </mat-form-field>
                <div>
                    <mat-button-toggle-group class="toggle-group" formControlName="onlyFree">
                        <mat-button-toggle [value]="false">{{'STUDENT.TEACHERS_GRID.ALL_TEACHERS' | translate }}</mat-button-toggle>
                        <mat-button-toggle [value]="true">{{'STUDENT.TEACHERS_GRID.FREE_TEACHERS' | translate }}</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
        </form>
        <mat-progress-bar mode="query" class="progress-bar" *ngIf="isLoadingTeachers"></mat-progress-bar>
    </mat-card>

    <div class="results">
        <mat-card class="teacher-card" *ngFor="let teacher of teachers">
            <mat-card-header>
                <mat-card-title>{{teacher.firstName}} {{teacher.lastName}}</mat-card-title>
                <mat-card-subtitle>
                    {{ teacher.offers.length }}
                    <span *ngIf="teacher.offers.length == 1">{{'STUDENT.TEACHERS_GRID.OFFER' | translate }}</span>
                    <span *ngIf="teacher.offers.length != 1">{{'STUDENT.TEACHERS_GRID.OFFERS' | translate }}</span>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-divider></mat-divider>
                <div *ngFor="let offer of teacher.offers">
                    <div class="teacher-offer">
                        <div class="offer-topics">
                            <span *ngFor="let topic of offer.topics" class="badge">{{ topic.name }} </span>
                        </div>
                        <div class="offer-places"
                        [class.low]="offer.takenPlaces / offer.limit < 0.35"
                        [class.mid]="offer.takenPlaces / offer.limit >= 0.35"
                        [class.high]="offer.takenPlaces / offer.limit > 0.75"
                        >{{offer.takenPlaces}} / {{offer.limit}}</div>
                        <div class="offer-actions">
                            <button mat-stroked-button 
                            [disabled]="!!offer.hasApplied || offer.takenPlaces == offer.limit || !canApply"
                            (click)="applyOffer(offer.id)">
                                <span *ngIf="offer.hasApplied">
                                    {{'STUDENT.TEACHERS_GRID.APPLIED' | translate }}
                                </span>
                                <span *ngIf="!offer.hasApplied && offer.takenPlaces < offer.limit">
                                    {{'STUDENT.TEACHERS_GRID.APPLY' | translate }}
                                </span>
                                <span *ngIf="!offer.hasApplied && offer.takenPlaces == offer.limit">
                                    {{'STUDENT.TEACHERS_GRID.TAKEN' | translate }}
                                </span>
                            </button>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </mat-card-content>
        </mat-card>

        <div class="no-results" *ngIf="!isLoadingTeachers && teachers.length == 0">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
            <h1>{{'STUDENT.TEACHERS_GRID.NO_RESULTS' | translate }}</h1>
        </div>
    </div>
</div>