.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 12px;
}

.filter-container {
  margin: 16px 0;
  width: 100%;
  padding: 16px;
  max-width: 800px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.progress-bar {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.progress-bar.top {
  bottom: unset;
  top: 0px;
}

.form-group {
  .group-header {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 4px;
    color: #616161;
  }

  .group-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    mat-form-field {
      width: 100%;
    }

    .flex-grow {
      flex: 1;
    }
  }

  mat-form-field {
    margin-right: 12px;
  }

  .toggle-group {
    margin-top: 4px;
  }
}

@media only screen and (max-width: 700px) {
  .group-controls {
    display: block !important;
  }

  mat-form-field {
    margin-bottom: 12px;
    margin-right: 0px !important;
    width: 100%;
  }
}

.select-options {
  margin-left: -0.8em;

  span {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.results {
  margin-top: 16px;
  width: 100%;

  .tip-card {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .no-results {
    text-align: center;

    mat-icon {
      font-size: 48px;
      width: 48px;
      height: 48px;
    }
  }
}

.teacher-card {
  max-width: 800px;
  border-radius: 8px;
  margin: 0 auto 16px auto;
  padding-bottom: 0;
  overflow: hidden;
  box-sizing: border-box;

  app-user-snippet {
    margin-top: -8px;
    margin-bottom: 8px;
    display: block;
  }
}

.teacher-offer {
  padding: 0 8px;
  min-height: 64px;
  align-items: center;
  display: flex;

  .offer-topics {
    flex: 1;
  }

  .offer-places {
    padding-right: 12px;
    font-weight: 500;

    &.low {
      color: #43a047;
    }

    &.mid {
      color: #ef6c00;
    }

    &.high {
      color: #e53935;
    }
  }
}

.tip-card {
  width: 100%;
}
