@if(isLoadingQuery) {
  <div class="loading-shade">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
}
@if(data.mode === 'create') {
  <h2 mat-dialog-title>Adăugați ofertă</h2>
} @else if(data.mode === 'edit') {
  <h2 mat-dialog-title>Editați oferta</h2>
}
<mat-dialog-content class="mat-typography">
  <form [formGroup]="offerForm" fxLayout="row grid" fxLayoutGap="10px grid">
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Domeniu</mat-label>
      <mat-select formControlName="domainId">
        @for(domain of domains; track domain.id) {
          <mat-option [value]="domain.id">
            <span>{{ domain.name }} {{ DOMAIN_TYPES[domain.type] }}</span>
          </mat-option>
        }
      </mat-select>
      @if(isLoadingDomains) {
        <mat-spinner class="select-spinner" [diameter]="24"></mat-spinner>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Teme ofertă</mat-label>
      <mat-chip-grid #chipList aria-label="Selectare teme">
        @for(topic of selectedTopics; track $index) {
          <mat-chip [removable]="true" (removed)="removeTopic(topic)">
            {{ topic.name }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        }
        <input
          #topicInput
          placeholder="Temă nouă..."
          formControlName="topics"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addTopic($event)"
          (blur)="handleTopicBlur($event, topicInput.value)"
        />
      </mat-chip-grid>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTopic($event)">
        @for(topic of filteredTopics | async; track topic.id) {
          <mat-option [value]="topic" tabindex="1">
            {{ topic.name }}
          </mat-option>
        }
      </mat-autocomplete>
      <mat-hint>Adăugați o temă înscriind numele și apăsând <b>Virgulă</b> sau <b>Enter.</b></mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Limită de locuri</mat-label>
      <input matInput type="number" formControlName="limit">
      @if(offerForm.get('limit')!.value < 1) {
        <mat-error>Numărul de locuri trebuie să fie minimum 1.</mat-error>
      } @else if(data.mode == 'edit') {
        <mat-error>Numărul de locuri nu poate fi mai mic decât locurile ocupate deja!</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Descriere</mat-label>
      <textarea matInput #desc formControlName="description"></textarea>
      <mat-hint align="end">{{ desc.value?.length || 0 }} / 1024</mat-hint>
      <mat-error>Descrierea poate avea maximum 1024 de caractere.</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Anulați</button>
  @if(data.mode == 'create') {
    <button mat-button (click)="addOffer()" [disabled]="offerForm.invalid || selectedTopics.length == 0">
      Adăugați
    </button>
  } @else if(data.mode == 'edit') {
    <button mat-button (click)="editOffer()" [disabled]="offerForm.invalid || selectedTopics.length == 0">
      Salvați
    </button>
  }
</mat-dialog-actions>
