.sample-container {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  margin: 0 auto;
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: 4px;
  overflow: hidden;

  .header {
    padding: 6px;
    border-bottom: 1px solid var(--mat-sys-outline-variant);
    font-size: 14px;
  }

  .sample-box {
    min-height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    line-height: normal;
    gap: 8px;
    padding: 6px;
    box-sizing: border-box;

    &.np {
      padding: 0;
    }

    img {
      width: 270px;
      height: 130px;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    visibility: hidden;
    padding: 6px 0;
    border-top: 1px solid var(--mat-sys-outline-variant);

    &.visible {
      visibility: visible;
    }
  }
}
