:host {
  display: flex;
  justify-content: center;
}

.container {
  border: 1px solid #eee;
  border-radius: 4px;

  .toolbar {
    display: flex;
    padding: 4px;
    gap: 4px;
    border-top: 1px solid #eee;
  }
}
