.container {
    padding: 16px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
}

td, th {
    width: auto;
}

tr th:last-child, tr td:last-child {
    width: 80px;
}

.selectable-count {
    font-size: 14px;
    font-weight: 400;
    margin-left: 8px;
}