.container {
    padding: 16px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
    overflow-x: auto;
}

td, th {
    width: auto;
}

tr th:last-child, tr td:last-child {
    width: 80px;
}