:host {
  display: block;
  position: relative;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .54);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .message {
    margin-top: 12px;
    color: var(--mat-sys-on-surface-variant);
    font-size: 16px;
  }
}

.section-header {
  margin-bottom: 12px;
  color: var(--mat-sys-on-surface-variant);
  font-weight: 500;
  &:not(:first-child) {
    margin-top: 16px;
  }
}

mat-form-field {
  width: 100%;
}

.tip-card {
  margin: 0;
  margin-bottom: 12px;
}
