<ngx-extended-pdf-viewer
  [src]="src"
  [customToolbar]="customToolbar"
  (pdfLoaded)="pdfLoaded.emit($event)"
  [enableDragAndDrop]="false"
  [acceptKeys]="['CTRL+F', 'META+F']"
  (findbarVisibleChange)="findbarVisibleChange.emit($event)"
>
</ngx-extended-pdf-viewer>

<ng-template #customToolbar>
  <div id="toolbarViewer">
    <div id="toolbarViewerLeft">
      <pdf-toggle-sidebar></pdf-toggle-sidebar>
      <div class="toolbarButtonSpacer"></div>
      <pdf-find-button [showFindButton]="true" [textLayer]="true"></pdf-find-button>
      <pdf-paging-area></pdf-paging-area>
    </div>
    <pdf-zoom-toolbar></pdf-zoom-toolbar>
    <div id="toolbarViewerRight">
      <pdf-print></pdf-print>
    </div>
  </div>
</ng-template>
