<mat-card class="session-details-card">
    <mat-card-header>
        <h3 mat-card-title>Platforma de asociere FMI</h3>
        <mat-card-subtitle>Sesiunea {{sessionSettings.sessionName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <div mat-line>Perioadă asocieri</div>
                <div mat-line>{{sessionSettings.applyStartDate | date:"dd.MM.yyyy"}} - {{sessionSettings.applyEndDate | date:"dd.MM.yyyy"}}</div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>Perioadă depunere documente</div>
                <div mat-line>{{sessionSettings.fileSubmissionStartDate | date:"dd.MM.yyyy"}} - {{sessionSettings.fileSubmissionEndDate | date:"dd.MM.yyyy"}}</div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>Termen limită predare lucrare</div>
                <div mat-line>{{sessionSettings.fileSubmissionEndDate| date:"dd.MM.yyyy"}}</div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<h1>Întrebări frecvente</h1>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>De ce unii profesori nu apar în listă?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Profesorii cărora le puteți cere asocierea sunt scrict aceia care au oferte pentru domeniul dumneavoastră
            de studiu. <br>
            În cazul în care nu vedeți un profesor în lista completă, este posibil ca acesta să nu fi inclus oferte pentru 
            domeniul <b>{{ user.student.domain.name }}.</b>
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Ce se întâmplă când un profesor îmi acceptă cererea?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>În momentul în care un profesor vă acceptă cererea de asociere, restul cererilor pe care le-ați trimis se șterg
            și deveniți asociat cu acel profesor. <br>
            Veți vedea în meniul aplicației secțiunea <i>Lucrarea mea</i>, unde va fi nevoie să încărcați documentele necesare
            la înscrierea pentru susținerea lucrării dvs.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Pot schimba profesorul coordonator dacă m-am răzgândit?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Da, însă această acțiune poate fi inițiată doar de către profesorul cu care v-ați asociat. Contactați-l pe acesta
            pentru a retrage asocierea cu dvs.
        </p>
    </mat-expansion-panel>
</mat-accordion>