.document-item {
  display: flex;
  align-items: center;
  padding: 12px 0;
  color: var(--mat-sys-on-surface);
  gap: 12px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--mat-sys-outline-variant);
  }

  .icon {
    width: 24px;
    height: 24px;
    display: flex;
  }

  .content {
    flex: 1;
    font-size: 14px;

    .title {
      font-size: 16px;
    }
  }
}

.centered {
  display: flex;
  justify-content: center;
}
