<div class="flex-container fullscreen align-center v-align-center" *ngIf="loadingUser">
    <mat-spinner [diameter]="48"></mat-spinner>
</div>

<mat-horizontal-stepper labelPosition="bottom" linear #stepper (selectionChange)="selectionChange($event)" *ngIf="!loadingUser">
    <mat-step [stepControl]="validationForm" [editable]="false">
        <ng-template matStepLabel>{{ 'STUDENT.SETUP.VALIDATION' | translate }}</ng-template>
        <form [formGroup]="validationForm">
            <h2>{{ 'STUDENT.SETUP.DATA_VALIDATION' | translate }}</h2>
            <div class="step-details">{{ 'STUDENT.SETUP.DATA_VALIDATION_SUBTITLE' | translate }}</div>
            <mat-list *ngIf="user">
                <div mat-subheader>{{ 'USER_DATA.PERSONAL_DATA' | translate }}</div>
                <mat-list-item>
                    <div mat-line>{{ 'USER_DATA.LAST_NAME' | translate }}</div>
                    <div mat-line>{{user.lastName}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div mat-line>{{ 'USER_DATA.FIRST_NAME' | translate }}</div>
                    <div mat-line>{{user.firstName}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div mat-line>{{ 'USER_DATA.CNP' | translate }}</div>
                    <div mat-line>{{user.CNP}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div mat-line>{{ 'USER_DATA.STUDENT.IDENTIFICATION_CODE' | translate }}</div>
                    <div mat-line>{{user.student.identificationCode}}</div>
                </mat-list-item>
                <mat-divider inset></mat-divider>
                <div mat-subheader>{{ 'USER_DATA.STUDENT.STUDY_FORMATION' | translate }}</div>
                <mat-list-item>
                    <div mat-line>{{ 'USER_DATA.STUDENT.STUDY_FORM' | translate }}</div>
                    <div mat-line>
                        {{ 'STUDY_FORMS.' + (user.student.studyForm.toUpperCase()) | translate }}
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div mat-line>{{ 'USER_DATA.STUDENT.DOMAIN' | translate }}</div>
                    <div mat-line>{{user?.student?.domain?.name}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div mat-line>{{ 'USER_DATA.STUDENT.SPECIALIZATION' | translate }}</div>
                    <div mat-line>{{user?.student?.specialization?.name}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div mat-line>{{ 'USER_DATA.STUDENT.GROUP' | translate }}</div>
                    <div mat-line>{{user?.student?.group}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div mat-line>{{ 'USER_DATA.STUDENT.PROMOTION' | translate }}</div>
                    <div mat-line>{{user?.student?.promotion}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div mat-line>{{ 'USER_DATA.STUDENT.MATRICULATION_YEAR' | translate }}</div>
                    <div mat-line>{{user?.student?.matriculationYear}}</div>
                </mat-list-item>
                <mat-list-item>
                    <div mat-line>{{ 'USER_DATA.STUDENT.FUNDING_FORM' | translate }}</div>
                    <div mat-line>
                        {{ 'FUNDING_FORMS.' + user.student.fundingForm.toUpperCase() | translate | titlecase}}
                    </div>
                </mat-list-item>
            </mat-list>
            <mat-checkbox formControlName="isValid" class="v-checkbox">{{ 'STUDENT.SETUP.DATA_CONFIRMATION_MESSAGE' | translate }}</mat-checkbox>
            <div class="flex-container align-end actions-container">
                <button mat-raised-button matStepperNext [disabled]="validationForm.invalid">{{ 'STUDENT.SETUP.NEXT_STEP' | translate }}</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="topicsForm" [editable]="false">
        <ng-template matStepLabel>{{ 'STUDENT.SETUP.TOPICS' | translate }}</ng-template>
        <form [formGroup]="topicsForm">
            <h2>{{ 'STUDENT.SETUP.FAVORITE_TOPICS' | translate }}</h2>
            <div class="step-details">{{ 'STUDENT.SETUP.FAVORITE_TOPICS_SUBTITLE' | translate }}</div>

            <mat-selection-list #topicSelect formControlName="selectedTopics">
                <mat-list-option *ngFor="let topic of topics | async" [value]="topic.id">{{topic.name}}</mat-list-option>
            </mat-selection-list>
        </form>

        <div class="flex-container align-end actions-container">
            <button mat-raised-button matStepperNext [disabled]="topicsForm.invalid">{{ 'STUDENT.SETUP.NEXT_STEP' | translate }}</button>
        </div>
    </mat-step>
    <mat-step [editable]="false">
        <ng-template matStepLabel>{{ 'STUDENT.SETUP.DONE' | translate }}</ng-template>
        <div class="flex-container last-tab-container">
            <div *ngIf="loadingValidation">
                <mat-spinner [diameter]="48"></mat-spinner>
                <h3>{{ 'STUDENT.SETUP.VALIDATION_IN_PROGRESS' | translate }}</h3>
            </div>
            <div *ngIf="!loadingValidation">
                <h3>{{ 'STUDENT.SETUP.ERROR' | translate }}</h3>
                <button mat-raised-button (click)="validateStudent()">{{ 'STUDENT.SETUP.RETRY' | translate }}</button>
                <button mat-raised-button (click)="stepper.reset()">{{ 'STUDENT.SETUP.RETAKE_VALIDATION' | translate }}</button>
            </div>
        </div>
    </mat-step>
</mat-horizontal-stepper>
