@if(loadingUser) {
  <div class="flex-container fullscreen align-center v-align-center">
    <mat-spinner [diameter]="48"></mat-spinner>
  </div>
} @else if(user) {
  <mat-horizontal-stepper labelPosition="bottom" linear #stepper (selectionChange)="selectionChange($event)">
    <mat-step [stepControl]="validationForm" [editable]="false">
      <ng-template matStepLabel>Validare</ng-template>
      <form [formGroup]="validationForm">
        <div class="step-header">
          <h2>Validarea datelor</h2>
          <div class="step-details">Asigurați-vă că datele de mai jos sunt corecte.</div>
        </div>
        <mat-list>
          <div mat-subheader>Date personale</div>
          <mat-list-item>
            <div matListItemTitle>Nume</div>
            <div matListItemLine>{{ user.lastName }}</div>
          </mat-list-item>
          <mat-list-item>
            <div matListItemTitle>Prenume</div>
            <div matListItemLine>{{ user.firstName }}</div>
          </mat-list-item>
          <mat-list-item>
            <div matListItemTitle>CNP</div>
            <div matListItemLine>{{ user.CNP || 'Nu a fost introdus.' }}</div>
          </mat-list-item>
          <mat-list-item>
            <div matListItemTitle>Număr matricol</div>
            <div matListItemLine>{{ user.identificationCode }}</div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <div mat-subheader>Formațiune de studiu</div>
          <mat-list-item>
            <div matListItemTitle>Formă de învățământ</div>
            <div matListItemLine>{{ STUDY_FORMS[user.specialization.studyForm] }}</div>
          </mat-list-item>
          <mat-list-item>
            <div matListItemTitle>Domeniu</div>
            <div matListItemLine>{{ user.specialization.domain?.name }}</div>
          </mat-list-item>
          <mat-list-item>
            <div matListItemTitle>Program de studiu</div>
            <div matListItemLine>{{ user.specialization?.name }}</div>
          </mat-list-item>
          <mat-list-item>
            <div matListItemTitle>Grupă</div>
            <div matListItemLine>{{ user.group }}</div>
          </mat-list-item>
          <mat-list-item>
            <div matListItemTitle>Promoție</div>
            <div matListItemLine>{{ user.promotion }}</div>
          </mat-list-item>
          <mat-list-item>
            <div matListItemTitle>An de înmatriculare</div>
            <div matListItemLine>{{ user.matriculationYear }}</div>
          </mat-list-item>
          <mat-list-item>
            <div matListItemTitle>Formă de finanțare</div>
            <div matListItemLine>{{ FUNDING_FORMS[user.fundingForm] | titlecase }}</div>
          </mat-list-item>
        </mat-list>
        <mat-checkbox formControlName="isValid" class="v-checkbox wrap">
          <span>Confirm că datele sunt corecte. </span>
          <a class="link" (click)="sendProblem($event)">Date incorecte?</a>
        </mat-checkbox>
        <br>
        <mat-checkbox formControlName="hasAgreed" class="v-checkbox wrap">
          Sunt de acord ca datele mele personale să fie folosite de facultate în scopul
          operării acestei platforme.
        </mat-checkbox>
        <div class="flex-container align-end actions-container">
          <button matButton="filled" matStepperNext [disabled]="validationForm.invalid">
            Pasul următor
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="topicsForm" [editable]="false">
      <ng-template matStepLabel>Teme</ng-template>
      <form [formGroup]="topicsForm">
        <div class="step-header">
          <h2>Teme preferate</h2>
          <div class="step-details">Alegeți temele care vă atrag.</div>
        </div>

        <mat-selection-list #topicSelect formControlName="selectedTopics">
          @for(topic of topics | async; track topic.id) {
            <mat-list-option [value]="topic.id">{{ topic.name }}</mat-list-option>
          }
        </mat-selection-list>
      </form>

      <div class="flex-container align-end actions-container">
        <button matButton="filled" matStepperNext [disabled]="topicsForm.invalid">Pasul următor</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Profil</ng-template>
      <div class="step-header">
        <h2>Profilul dvs.</h2>
        <div class="step-details">Completați-vă profilul pentru mai multă vizibilitate pe platformă.</div>
      </div>
      <app-user-profile-editor [showReset]="false" (profileSaved)="stepper.next()"></app-user-profile-editor>
    </mat-step>
    <mat-step [editable]="false">
      <ng-template matStepLabel>Gata</ng-template>
      <div class="flex-container last-tab-container">
        @if(loadingValidation) {
          <div>
            <mat-spinner [diameter]="48"></mat-spinner>
            <h3>În curs de validare</h3>
          </div>
        } @else {
          <div>
            <h3>A apărut o eroare.</h3>
            <button matButton="filled" (click)="validateStudent()">Reîncercați</button>
            <button matButton="outlined" (click)="stepper.reset()">Reluați validarea</button>
          </div>
        }
      </div>
    </mat-step>
  </mat-horizontal-stepper>
}
