/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.image-container {
    display: inline-block;
    position: relative;
    user-select: none;
}

.image-container::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.flex-container {
    display: flex;
}

.flex-container.align-center {
    justify-content: center;
}

.flex-container.align-end  {
    justify-content: flex-end;
}

.flex-container.v-align-center {
    align-items: center;
}

.fullscreen {
    width: 100%;
    height: 100%;
}

.button-icon {
    margin-right: 8px;
    margin-left: -6px;
    width: 24px;
    height: 24px;
}

