@use '@angular/material' as mat;

@include mat.core();

// Light theme
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
));

// Dark theme
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
));


html {
  @include mat.all-component-themes($light-theme);
  @include mat.system-level-colors($light-theme);
  @include mat.system-level-elevation($light-theme);
  @include mat.color-variants-backwards-compatibility($light-theme);
  --warn: #f57c00;
  --warn-surface: #f57c00e0;
  --on-warn-surface: #000000;
  --success: #4caf50;
  --success-surface: #4caf50e0;
  --on-success-surface: #000000;
}

html.dark-theme {
  @include mat.all-component-themes($dark-theme);
  @include mat.system-level-colors($dark-theme);
  @include mat.system-level-elevation($dark-theme);
  @include mat.color-variants-backwards-compatibility($dark-theme);
}

html {
  @include mat.table-overrides((
    row-item-outline-color: var(--mat-sys-outline-variant),
  ));
}

.active {
  @include mat.icon-button-overrides((
    icon-color: var(--mat-sys-primary),
    state-layer-color: var(--mat-sys-primary)
  ));
}

html,
body {
  height: 100%;
}

mat-toolbar {
  gap: 12px;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  .toolbar-spacer {
    flex: 1 1 auto;
  }
}

mat-dialog-content {
  padding-top: 4px!important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.image-container {
  display: inline-block;
  position: relative;
  user-select: none;
}

.image-container::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.flex-container {
  display: flex;
}

.flex-container.align-center {
  justify-content: center;
}

.flex-container.align-end {
  justify-content: flex-end;
}

.flex-container.v-align-center {
  align-items: center;
}

.fullscreen {
  width: 100%;
  height: 100%;
}

.button-icon {
  margin-right: 8px;
  margin-left: -6px;
  width: 24px;
  height: 24px;
}

.badge {
  padding: 6px;
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
  margin: 4px;
  display: inline-block;
  border-radius: 6px;
}

.badge:first-child {
  margin-left: 0px;
}

.col-2 {
  width: 50%;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .col-2 {
    width: 100%;
  }
}

mat-icon {
  font-family: 'Material Icons Outlined' !important;
}

.tip-card {
  display: flex;
  margin: 0 -24px;
  padding: 8px 16px;
  min-height: 64px;
  align-items: center;
  background: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
  box-sizing: border-box;

  &.nm {
    margin: 0;
  }

  &.rounded {
    margin: 0;
    border-radius: 12px;
  }

  @include mat.button-overrides((
    text-label-text-color: var(--mat-sys-on-secondary-container),
  ));

  &.translucent {
    background: var(--mat-sys-surface-variant);
    color: var(--mat-sys-on-surface-variant);
    border-radius: 8px;

    @include mat.button-overrides((
      text-label-text-color: var(--mat-sys-on-surface-variant),
    ));

    &.warning {
      background: var(--warn-surface);
      color: var(--on-warn-surface);

      @include mat.button-overrides((
        text-label-text-color: var(--on-warn-surface),
      ));
    }
  }

  &.severe {
    background: var(--mat-sys-error-container);
    color: var(--mat-sys-on-error-container);
    @include mat.button-overrides((
      text-label-text-color: var(--mat-sys-on-error-container),
    ));
  }

  &.warning {
    background: var(--warn-surface);
    color: var(--on-warn-surface);
    @include mat.button-overrides((
      text-label-text-color: var(--on-warn-surface),
    ));
  }

  &.success {
    background: var(--success-surface);
    color: var(--on-success-surface);
    @include mat.button-overrides((
      text-label-text-color: var(--on-success-surface),
    ));
  }

  .tip-icon {
    margin-right: 16px;
  }

  .tip-card-content {
    flex: 1;
  }
}

.iterating {
  > span::after {
    content: ', '
  }

  > span:last-child::after {
    content: ''
  }
}

.contact-info {
  display: inline-flex;
  padding: 12px 0;
  color: var(--mat-sys-on-surface-variant);
  align-items: center;
  cursor: default;

  a {
    margin-left: 8px;
    color: var(--mat-sys-on-surface-variant);
    font-weight: 500;
    text-decoration: none;
  }
}

.table-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: var(--mat-sys-surface);
  border-color: var(--mat-sys-outline-variant);
  box-shadow: var(--mat-sys-level1);

  &.full-height {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    border-radius: 0;

    .discrete-scroll {
      flex: 1;
    }
  }

  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .table-filters {
    padding: 16px;
    border-bottom: 1px solid var(--mat-sys-outline-variant);

    .filter-header {
      display: flex;
      align-items: center;
      padding-bottom: 12px;

      .text {
        color: var(--mat-sys-on-surface-variant);
        font-weight: 500;
        flex: 1;
      }

    }
  }

  table {

    td,
    th {
      white-space: nowrap;
      min-width: fit-content;
    }

    td.wrap {
      white-space: normal;
    }

    td:not(:last-child),
    th:not(:last-child) {
      padding-right: 8px;
    }

    .mat-column-status,
    .mat-column-select {
      width: 24px;
      padding: 0 12px !important;
    }

    .mat-column-expandedDetail {
      white-space: normal;
    }

    .status-icon {
      cursor: default;
      user-select: none;

      &.done {
        color: #388e3c;
      }

      &.warn {
        color: #f57c00;
      }

      &.severe {
        color: #f44336;
      }
    }
  }

  mat-paginator {
    border-top: 1px solid var(--mat-sys-outline-variant);
  }
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
  color: var(--mat-sys-primary);
}

a.link {
  color: var(--mat-sys-primary);
  text-decoration: none;
}

app-loading.in-dialog {
  margin: 0;
}

.hero-icon {
  padding: 36px;
  border-radius: 50%;
  background: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
  font-size: 48px;
  width: 48px !important;
  height: 48px !important;
}

.no-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;

  .hero-icon {
    margin-bottom: 16px;
  }

  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }
}

.list {

  &.dense {
    .list-item {
      padding: 4px 16px;
      min-height: 52px;
    }
  }

  .list-header {
    font-size: 14px;
    color: var(--mat-sys-on-surface-variant);
    font-weight: 500;
    padding: 0 16px;
    margin-bottom: -2px;
  }

  .list-item {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 4px;
    min-height: 64px;
    box-sizing: border-box;

    mat-icon {
      margin-right: 8px;
    }

    .content {
      flex: 1;
      min-width: 0;
      overflow: hidden;
      &>:not(:last-child) {
        margin-bottom: 4px;
      }
      &>:first-child {
        font-size: 16px;
        line-height: 16px;
      }
      &>:not(:first-child) {
        font-size: 14px;
        line-height: 14px;
        color: var(--mat-sys-on-surface-variant);
      }
    }
  }
}

.mat-checkbox.wrap {
  .mat-checkbox-layout {
    white-space: normal !important;
  }
}

.discrete-scroll {
  overflow: auto;

  /* Webkit */
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }

  /* Firefox */
  scrollbar-width: thin;
  /* MS */
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.flex-spacer {
  flex: 1;
}

mat-hint.warning {
  color: #f57c00;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-inner-spin-button {
  display: initial;
  -webkit-appearance: initial;
}


.account-menu-panel {
  min-width: 320px!important;
  max-width: 400px!important;
  width: 80vw!important;
  margin-right: 8px;
  .mat-mdc-menu-content {
    padding: 0;
  }
}
