@if(tokenResult === null) {
  <app-loading type="spinner"></app-loading>
} @else {
  <div class="flex-container align-center v-align-center fullscreen">
    <div class="login-container mat-elevation-z2">
      @if(loading) {
        <app-loading></app-loading>
      }
      <div class="image-container flex-container align-center logo">
        <img src="assets/img/fmi-logo.png" />
      </div>
      @if(tokenResult.isSignUp) {
        <h2>Bun venit, {{ tokenResult.firstName }}!</h2>
        <h3>Setați o parolă pentru contul dvs.</h3>
      } @else {
        <h2>Salutare, {{ tokenResult.firstName }}!</h2>
        <h3>Schimbați parola contului dvs.</h3>
      }
      <form [formGroup]="changePasswordForm" fxLayout="row grid" fxLayoutGap="10px grid">
        <input type="email" name="email" [value]="tokenResult.email" style="display: none;" />
        @if(mode === 'normal') {
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Parolă curentă</mat-label>
            <input matInput type="password" formControlName="currentPassword">
          </mat-form-field>
        }
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Parolă nouă</mat-label>
          <input matInput type="password" formControlName="password" [errorStateMatcher]="matcher">
          <mat-error>Parola trebuie să conțină minimum 8 caractere.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Confirmați parola</mat-label>
          <input matInput type="password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
          @if(changePasswordForm.errors?.['passwordsNotMatched']) {
            <mat-error>Parolele nu se potrivesc!</mat-error>
          }
        </mat-form-field>
        <div class="flex-container align-center" fxFlex="100">
          <button mat-raised-button color="accent" [disabled]="changePasswordForm.invalid || loading" (click)="changePassword()">
            {{ tokenResult.isSignUp ? 'Setați parola' : 'Schimbați parola' }}
          </button>
        </div>
      </form>
    </div>
  </div>
}
