:host {
    display: block;
    padding: 16px;
    height: 100%;
}

.login-container {
    width: 100%;
    padding: 16px;
    position: relative;
    max-width: 380px;
}

app-loading {
    margin-top: -16px;
    margin-left: -16px;
    display: block;
}

mat-form-field {
    display: block;
}

.image-container {
    margin: 16px 0;
    img {
        width: 100%;
    }
}
