.title {
    margin-bottom: 4px;
}

input[type="file"] {
    display: none;
}

label {
    margin-bottom: 6px;
}

.button-container {
    height: 48px;
}

.icon-button {
    display: flex;
    align-items: center;
    mat-icon {
        margin-right: 8px;
    }
}