:host {
  position: relative;
  display: block;
}

.member-list, .activity-list {
  margin-top: 12px;
  h3 {
    margin-bottom: 0;
  }
}

.day-rows {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 12px 0;

  .day-row {
    display: flex;
    gap: 8px;
    mat-form-field {
      flex: 1;
    }
  }
}

.member-rows {
  display: flex;
  flex-direction: column;

  .member-row {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;

    .teacher-name {
      flex: 1;
    }

    button {
      margin-bottom: 20px;
    }
  }
}

.error-list {
  color: var(--mat-sys-error);
}

app-loading {
  position: absolute;
  margin: -24px;
  margin-bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
