@switch (data.mode) {
  @case('create') {
    <h2 mat-dialog-title>Adăugați profesor</h2>
  }
  @case ('edit') {
    <h2 mat-dialog-title>Editați profesor</h2>
  }
  @case ('view') {
    <h2 mat-dialog-title>Vizualizare profesor</h2>
  }
}
@if (data.mode == 'edit' || data.mode == 'create') {
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="teacherForm" fxLayout="row grid" fxLayoutGap="10px grid">
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Titlu</mat-label>
        <mat-select formControlName="title">
          <mat-option [value]="null">-- Fără titlu --</mat-option>
          <mat-option value="Prof.univ.dr.">Prof.univ.dr.</mat-option>
          <mat-option value="Conf.univ.dr.">Conf.univ.dr.</mat-option>
          <mat-option value="Lect.univ.dr.">Lect.univ.dr.</mat-option>
          <mat-option value="Asist.dr.">Asist.dr.</mat-option>
          <mat-option value="Asist. drd.">Asist. drd.</mat-option>
          <mat-option value="Asist.(det.) drd.">Asist.(det.) drd.</mat-option>
          <mat-option value="Drd.">Drd.</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Nume</mat-label>
        <input matInput type="text" formControlName="lastName" name="teacherLastName">
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Prenume</mat-label>
        <input matInput type="text" formControlName="firstName" name="teacherFirstName">
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>CNP</mat-label>
        <input matInput type="text" formControlName="CNP" name="teacherCNP">
        <mat-error>{{ teacherForm.get("CNP").errors?.['CNPValidator'].message }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email" name="teacherEmail">
        @if (emailChanged) {
          <mat-hint class="warning">
            E-mail modificat. Utilizatorul va avea noi credențiale.
          </mat-hint>
        }
      </mat-form-field>
    </form>
  </mat-dialog-content>
}
@if (data.mode =='view') {
  <mat-dialog-content>
    <mat-list>
      <mat-list-item>
        <div matListItemTitle>Titlu</div>
        <div matListItemLine>{{ data.data.title || '-' }}</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Nume</div>
        <div matListItemLine>{{ data.data.lastName }}</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Prenume</div>
        <div matListItemLine>{{ data.data.firstName }}</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>CNP</div>
        <div matListItemLine>{{ data.data.CNP || '-' }}</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>E-mail</div>
        <div matListItemLine>{{ data.data.email }}</div>
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>
}
<mat-dialog-actions align="end">
  @if (data.mode != 'view') {
    <button mat-button mat-dialog-close>Anulați</button>
  }
  @if (data.mode == 'view') {
    <button mat-button mat-dialog-close>Închideți</button>
  }
  @if (data.mode == 'create') {
    <button mat-button (click)="saveTeacher()" [disabled]="teacherForm.invalid"
    >Adăugați</button>
  }
  @if (data.mode == 'edit') {
    <button mat-button (click)="saveTeacher()" [disabled]="teacherForm.invalid"
    >Salvați</button>
  }
</mat-dialog-actions>
