<div class="login-container mat-elevation-z2">
  @if(loading) {
    <app-loading></app-loading>
  }
  <div class="image-container flex-container align-center logo">
    <img src="assets/img/fmi-logo.png" />
  </div>
  <div class="form-container">
    <form [formGroup]="signUpForm">
      <h2>Creare cont student</h2>
      <div class="tip-card translucent warning">
        <mat-icon class="tip-icon">warning_amber</mat-icon>
        <div class="tip-card-content">
          Această secțiune din aplicație este destinată studenților din promoțiile anterioare.
          În cazul în care sunteți student în promoția curentă, veți fi adăugat automat în aplicație.
        </div>
      </div>
      <div fxLayout="row grid" fxLayoutGap="10px grid">
        <div fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline">
            <mat-label>Nume</mat-label>
            <input matInput type="text" formControlName="lastName" name="studentLastName">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline">
            <mat-label>Prenume</mat-label>
            <input matInput type="text" formControlName="firstName" name="studentFirstName">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline">
            <mat-label>CNP</mat-label>
            <input matInput type="text" formControlName="CNP" name="studentCNP">
            <mat-hint>În cazul în care nu aveți un CNP, lăsați necompletat.</mat-hint>
            <mat-error>CNP invalid.</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" formControlName="email" name="studentEmail">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline">
            <mat-label>Număr matricol</mat-label>
            <input matInput type="text" formControlName="identificationCode" name="studentIdentificationCode">
            <mat-hint>Forma: [nr. unic]/[an înmatriculare]</mat-hint>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline">
            <mat-label>Forma de finanțare</mat-label>
            <mat-select formControlName="fundingForm">
              <mat-option value="budget">Buget</mat-option>
              <mat-option value="tax">Taxă</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline">
            <mat-label>Grupă</mat-label>
            <input matInput type="text" formControlName="group" name="studentGroup">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline">
            <mat-label>Promoție</mat-label>
            <input matInput type="text" formControlName="promotion" name="studentPromotion">
            <mat-hint>Anul în care ați absolvit</mat-hint>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline">
            <mat-label>Domeniu</mat-label>
            <mat-select formControlName="domainId">
              @for(domain of domains; track domain.id) {
                <mat-option [value]="domain.id">
                  {{ domain.name }} ({{ DOMAIN_TYPES[domain.type] }})
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline">
            <mat-label>Programul de studii</mat-label>
            <mat-select formControlName="specializationId">
              @for(specialization of chosenDomain?.specializations; track specialization.id) {
                <mat-option [value]="specialization.id">
                  <span>{{ specialization.name }}</span>
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline">
            <mat-label>Anul înmatriculării</mat-label>
            <input matInput type="text" formControlName="matriculationYear" name="studentMatriculationYear">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline">
            <mat-label>Forma de învățământ</mat-label>
            <mat-select formControlName="studyForm">
              <mat-option value="if">Învățământ cu frecvență</mat-option>
              <mat-option value="ifr">Învățământ cu frecvență redusă</mat-option>
              <mat-option value="id">Învățământ la distanță</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <mat-checkbox formControlName="segmentCheck" class="v-checkbox wrap">
        Fac parte dintr-o promoție anterioară sau mi s-a cerut expres să completez acest formular. *
      </mat-checkbox>
      <br>
      <mat-checkbox formControlName="termsCheck" class="v-checkbox wrap">
        Sunt de acord ca datele mele personale să fie folosite de facultate în scopul
        operării acestei platforme. *
      </mat-checkbox>
      <br>
      <br>
      <div class="flex-container align-center captcha-container">
        <re-captcha (resolved)="solvedCaptcha($event)"></re-captcha>
      </div>
      <div class="flex-container align-center">
          <button mat-raised-button color="accent"
          [disabled]="signUpForm.invalid || !captchaToken || loading"
          (click)="signUp()">Înscriere</button>
      </div>
    </form>

    <div class="divider"></div>
    <div class="flex-container align-center">
      <router-link routerLink="/login">
        <button mat-button>
          <span>Înapoi la autentificare</span>
        </button>
      </router-link>
    </div>
  </div>
</div>
