mat-form-field {
  width: 100%;
}

.form-container {
  padding: 12px 16px;
}

.logo {
  padding: 16px;
  img {
    width: 100%;
    max-width: 360px;
  }
}

.divider {
  border-top: 1px solid var(--mat-sys-outline-variant);
  margin: 24px 0;
}

.login-container {
  position: relative;
  border-radius: 8px;
  max-width: 830px;
  margin: 24px auto;
  background: var(--mat-sys-surface);
  box-shadow: var(--mat-sys-level3);

  @media (max-width: 500px) {
    margin: 0 auto;
  }
}

.captcha-container {
  margin-bottom: 16px;
}

.tip-card {
  margin: 0;
  margin-bottom: 16px;
}
