<div class="profile-header">
  <div class="profile-picture" [ngClass]="{ 'no-photo': !(userProfile?.picture || profilePictureFile)}">
    <div class="change-photo" appUploadFile (file)="handleFileChange($event)" accept="image/*">
      <mat-icon>photo_camera</mat-icon>
      <div class="text">
        @if(!userProfile?.picture && !profilePictureFile) {
          <span>
            Adăugați o poză
          </span>
        } @else {
          <span>
            Schimbați poza
          </span>
        }
      </div>
    </div>
    @if(profilePictureFile) {
      <img [src]="base64Photo" />
    } @else if(userProfile?.picture) {
      <img [src]="userProfile.picture | apiUrl" />
    }
  </div>
</div>

<form [formGroup]="profileForm" fxLayout="row grid" fxLayoutGap="10px grid">
  <mat-form-field appearance="outline" fxFlex="100">
    <mat-icon matPrefix>language</mat-icon>
    <mat-label>Website</mat-label>
    <input matInput formControlName="website" />
  </mat-form-field>
  <mat-form-field appearance="outline" fxFlex="100">
    <mat-label>Bio (descriere)</mat-label>
    <textarea matInput #bio formControlName="bio"></textarea>
    <mat-hint align="end">{{bio.value?.length || 0}}/256</mat-hint>
  </mat-form-field>
</form>

<div fxLayout="row" fxLayoutAlign="end">
  @if(showReset) {
    <button mat-button (click)="resetForm()" [disabled]="loading">Resetați</button>
  }
  <button matButton="filled" color="primary" (click)="saveProfile()" [disabled]="loading">Salvați profilul</button>
</div>
